<div class="row">
	<div class="col-sm-4 my-auto">
		<input type="text" class="form-control text-input" placeholder="Tìm kiếm" (keyup)='search($event)' />
	</div>
	<div class="col-sm-1">
		<button class="btn btn-success">Tìm kiếm</button>
	</div>
</div>
<div class="row">
	<div class="col text-right">
		<div ngbDropdown class="d-inline-block">
			<button class="btn btn-outline-success" id="dropdownBasic1" ngbDropdownToggle><span class="mdi mdi-eye"></span>
				{{toShow==undefined?'Tất cả':toShow}}</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button class="dropdown-item" (click)="changeShow(5)"><span class="mdi mdi-eye"></span> 5</button>
				<button class="dropdown-item" (click)="changeShow(10)"><span class="mdi mdi-eye"></span> 10</button>
				<button class="dropdown-item" (click)="changeShow(20)"><span class="mdi mdi-eye"></span> 20</button>
				<button class="dropdown-item" (click)="changeShow(50)"><span class="mdi mdi-eye"></span> 50</button>
				<button class="dropdown-item" (click)="changeShow()"><span class="mdi mdi-eye"></span> Tất cả</button>
			</div>
		</div>
	</div>
</div>

<div class="row mt-2">
	<div class="col">
		<div class="view-title">Lịch sử giao dịch</div>
		<ngx-datatable #myTable class='material expandable tbl-his' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
		 [rowHeight]="50" [rows]='rows' [sorts]="[{prop: 'hisid', dir: 'desc'}]" [limit]="toShow">

			<ngx-datatable-column name="Index" [width]="60" [maxWidth]="60">
				<ng-template let-column="column" ngx-datatable-header-template>
					<span class="default">
						<strong>STT</strong>
					</span>
				</ng-template>
				<ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
					<strong class="text-center">{{rowIndex+1}}</strong>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [width]="50">
				<ng-template name="hisid" ngx-datatable-header-template>
					<span>
						<strong>ID giao dịch</strong>
					</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					<strong class="text-center">{{row.hisId}}</strong>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [width]="50">
				<ng-template ngx-datatable-header-template>
					<span>
						<strong>Account ID</strong>
					</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					<strong class="text-center">{{row.accountId}}</strong>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [width]="80">
				<ng-template ngx-datatable-header-template>
					<span>
						<strong>Loại giao dịch</strong>
					</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					<div class="text-center">{{row.hisType == 1?'Nhận tiền':(row.hisType == 2?'Chuyển tiền':(row.hisType ==
						3?'':'Khác'))}}</div>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [width]="80">
				<ng-template ngx-datatable-header-template>
					<span>
						<strong>Nội dung</strong>
					</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					<div class="text-center">{{row.hisContent}}</div>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [width]="80">
				<ng-template ngx-datatable-header-template>
					<span>
						<strong>Thay đổi</strong>
					</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					<strong class="text-center"><span [ngClass]="(row.balanceAfter-row.balanceBefor)>0?'mdi mdi-plus':''"></span>{{row.balanceAfter-row.balanceBefor|currency:'':'':'0.0'}}
						&#273; </strong>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [width]="80">
				<ng-template ngx-datatable-header-template>
					<span>
						<strong>Thao tác</strong>
					</span>
				</ng-template>
				<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
					<div class="text-center">
						<button type="button" class="btn btn-info button-custom-admin" (click)="open(content);getBalanceById(row.accountId);">
							<i class=" fa fa-eye "></i>
						</button>
					</div>
				</ng-template>
			</ngx-datatable-column>
		</ngx-datatable>
	</div>
</div>

<!-- ======================================= Modal ========================================== -->
<ng-template #content let-c="close " let-d="dismiss">
	<div class="modal-header ">
		<h3 class="modal-title " id="modal-basic-title ">Xem lịch sử thu chi</h3>
		<button class="close " aria-label="Close " (click)="d( 'Cross click') ">
			<span aria-hidden="true ">&times;</span>
		</button>
	</div>
	<div class="modal-body ">
		<app-balance [balanceModel]="_entityBalance"></app-balance>
	</div>
</ng-template>


<pre>{{closeResult}}</pre>