<table class="table">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Họ tên</th>
        <th scope="col">Số giây tờ</th>
        <th scope="col">Ngày cấp</th>
        <th scope="col">Nơi cấp</th>
        <th scope="col">Số điện thoại</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@12222212121</td>
        <td>
          <div>
              <i class="fas fa-plus"></i>
              <i class="far fa-edit ml-2"></i>
              <i class="fas fa-trash-alt ml-2"></i>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@mdo</td>
        <td>@12222212121</td>
        <td>
          <div>
            <i class="fas fa-plus"></i>
            <i class="far fa-edit ml-2"></i>
            <i class="fas fa-trash-alt ml-2"></i>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@mdo</td>
        <td>12222212121</td>
        <td>
          <div>
            <i class="fas fa-plus"></i>
            <i class="far fa-edit ml-2"></i>
            <i class="fas fa-trash-alt ml-2"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>