<!-- <div class="container">
    <div class="row" *ngFor="let item of balanceList">
        <div class="col-6" [ngStyle]="{'font-weight': 'bold'}"> Mã lịch sử giao dịch: {{item.hisId}} </div>
        <div class="col-6">Mã tài khoản giao dịch: {{item.accountId}} </div>
        <div class="col-6">Loại giao dịch: {{item.hisType}} </div>
        <div class="col-6">Nội dung giao dịch: {{item.hisContent}} </div>
        <div class="col-6">Địa chỉ giao dịch: {{item.ip}} </div>
        <div class="col-6">Trước giao dịch: {{item.balanceBefor}} </div>
        <div class="col-6">Sau giao dịch: {{item.balanceAfter}} </div>
        <div class="col-6">Số tiền giao dịch: {{item.amount}} </div>
        <div class="col-6">Thời gian giao dịch: {{item.time | date}} </div>
        <div class="col-12"><hr></div>
    </div>
</div> -->
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th><strong> Mã</strong></th>
            <th><strong>Ngày</strong></th>
            <th><strong>Loại giao dịch</strong></th>
            <th><strong>Địa chỉ</strong></th>
            <th><strong>Nội dung</strong></th>
            <th><strong>Số tiền</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of balanceList">
            <td>{{item.hisId}}</td>
            <td>{{item.time | date}}</td>
            <td>{{item.hisType}}</td>
            <td>{{item.ip}}</td>
            <td>{{item.hisContent}}</td>
            <td>{{item.amount}}</td>
          </tr>
        </tbody>
      </table>
</div>
