<div class="form-group row my-3">
  <label for="fullname" class="col-sm-2 col-form-label text-md-right">Họ và tên</label>
  <div class="col-sm-8">
    <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Họ tên" readonly tabindex="1"
      *ngIf="!isShow" />
    <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Họ tên" tabindex="1" *ngIf="isShow" />
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="form-group row my-3">
  <label for="dateOfBirth" class="col-sm-2 col-form-label text-md-right">Ngày sinh</label>
  <div class="col-sm-8">
    <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth" placeholder="Ngày sinh" readonly
      tabindex="2" *ngIf="!isShow" />
    <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth" placeholder="Ngày sinh" tabindex="2"
      *ngIf="isShow" />
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="form-group row my-3">
  <label for="address" class="col-sm-2 col-form-label text-md-right">Địa chỉ</label>
  <div class="col-sm-8">
    <input type="text" class="form-control" id="address" name="address" placeholder="Địa chỉ" readonly tabindex="3"
      *ngIf="!isShow" />
    <input type="text" class="form-control" id="address" name="address" placeholder="Địa chỉ" tabindex="3" *ngIf="isShow" />
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="form-group row my-3">
  <label for="phoneNumber" class="col-sm-2 col-form-label text-md-right">Số điện thoại</label>
  <div class="col-sm-8">
    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Số điện thoại" readonly
      tabindex="4" *ngIf="!isShow" />
    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Số điện thoại" tabindex="4"
      *ngIf="isShow" />
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="form-group row my-3">
  <label for="cmnd" class="col-sm-2 col-form-label text-md-right">Số CMND</label>
  <div class="col-sm-8">
    <input type="text" class="form-control" id="cmnd" name="cmnd" placeholder="Số CMND" readonly tabindex="5" *ngIf="!isShow" />
    <input type="text" class="form-control" id="cmnd" name="cmnd" placeholder="Số CMND" tabindex="5" *ngIf="isShow" />
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="form-group row my-3">
  <label for="gender" class="col-sm-2 col-form-label text-md-right">Giới tính</label>
  <div class="col-sm-8">
    <input type="text" class="form-control" id="gender" name="gender" placeholder="Giới tính" readonly tabindex="6"
      *ngIf="!isShow" />
    <input type="text" class="form-control" id="gender" name="gender" placeholder="Giới tính" tabindex="6" *ngIf="isShow" />
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="form-group row my-3">
  <div class="col-sm-4"></div>
  <div class="col-sm-2" *ngIf="!isShow">
    <button class="btn btn-primary btn-block" (click)="changeShow()">Sửa</button>
  </div>
  <div class="col-sm-2" *ngIf="!isShow"></div>
  <div class="col-sm-2" *ngIf="isShow">
    <button class="btn btn-success btn-block" (click)="changeShow()">Lưu</button>
  </div>
  <div class="col-sm-2 " *ngIf="isShow">
    <button class="btn btn-danger btn-block" (click)="changeShow()">Hủy</button>
  </div>
  <div class="col-sm-4"></div>
</div>