.col-md-4{
    padding-top: 100px;
}

.fogot{
    height: auto;
    width: auto;
}


.panel-body{
    width: auto;
    height: auto;
    background-color: lightblue;
    padding: 5px;
    border-radius: 5px;
}

@media screen and (max-width: 768px){
    .col-md-4{
        padding-top: 20px;
    }
}