<div class="row mt-2">
  <div class="col-md-4 my-auto">
    <input type="text" [(ngModel)]="searchObject.searchParam" name="searchParam" class="form-control input-search-admin"
      placeholder="Nhập Mã chính sách" (keyup)="searchByPressEnter($event)">
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-success w-100" (click)="search(searchObject)" placement="bottom" ngbTooltip="Tìm kiếm"><i
        class="fa fa-search" aria-hidden="true"></i></button>
  </div>
  <div class="col-md-1 offset-md-6">
    <button type="button" class="btn btn-success w-100" (click)="open(content)" placement="bottom" ngbTooltip="Thêm Chính sách mới"><i
        class="fa fa-user-plus fs-18" aria-hidden="true"></i></button>
    <div #snackbar [class]="isShow ? 'snackbar show' : 'snackbar'">{{txtNoti}}</div>
  </div>
</div>



<div class="row mt-2">
  <div class="col">
    <div class="owner-view-title">Chính sách VTGO</div>
    <ngx-datatable class='material selection-cell datatable table-shadow' [rows]='lstPolicy' [columnMode]='"force"'
      [headerHeight]='50' [footerHeight]='50' [rowHeight]='"auto"' [sorts]="[{prop: 'pk', dir: 'asc'}]" [limit]="50">
      <ngx-datatable-column prop="policyId" [minWidth]="70" [maxWidth]="70" [resizeable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            ID
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <strong>{{value}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="110" prop="ratioVat">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            Tỷ lệ/GTGT
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <strong>{{value}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="290" prop="ratiRoseNoVat">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Tỷ lệ hoa hồng / giá cước (No GTGT)</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="280" prop="ratioRoseVat">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Tỷ lệ hoa hồng / giá cước (có VAT)</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="200" prop="ratioVatTax">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Thuế GTGT / giá cước</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [minWidth]="120" [maxWidth]="120">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Thao tác</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <button type="button" class="btn btn-warning button-custom-admin ml-4" (click)="edit(row, content)">
            <i class="fa fa-edit"></i>
          </button>
          <!-- <button type="button" class="btn btn-danger button-custom-admin ml-2" (click)="openSm(del, row.vehicleId)">
            <i class="fa fa-trash"></i>
          </button> -->
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Chính sách VTGO</h3>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-configpolicypopup [isAdd]="isAdd" [configPolicyViewModel]="_entity" (closeModalEvent)="c('close from Save')"
      (configPolicyViewModelChange)="isAdd ? onAddPolicy($event) : onEditPolicy($event)"></app-configpolicypopup>
  </div>
</ng-template>
