<form [formGroup]="addEditForm" novalidate>
  <ngb-tabset>
    <ngb-tab title="Thông tin đăng ký xe">
      <ng-template ngbTabContent>

        <div class="form-group row my-3" hidden>
          <label for="VehicleId" class="col-sm-2 col-form-label text-md-right">Id</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="VehicleId" formControlName="vehicleId">
          </div>

        </div>

        <div class="form-group row my-3">
          <label for="vehicleCode" class="col-sm-2 col-form-label text-md-right">Mã xe </label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="vehicleCode" placeholder="Mã xe" formControlName="vehicleCode"
              tabindex="2" readonly>
          </div>
          <label for="ownerId" class="col-sm-2 col-form-label text-md-right">ID Chủ xe</label>
          <div class="col-sm-4">
            <input type="text" placeholder="Mã tài khoản của chủ xe" class="form-control" id="ownerId" formControlName="ownerId"
              tabindex="1" (focusout)="checkOwnerId($event,'id')">
          </div>

        </div>
        <!-- <div formArrayName="route">
          <div class="form-group row mb-3" *ngFor="let rou of route.controls; let i = index">
            <label class="col-sm-2 col-form-label text-md-right">Tuyến xe {{i+1}}</label>
            <div class="col-sm-4">
              <input type="text" [id]="i" class="form-control" placeholder="Tuyến xe"
                [attr.disabled]="noneShow ? 'disabled' : null" [formControlName]="i" [ngClass]="{'mouse-hover': noneShow}"
                tabindex="3">
            </div>
            <div class="col-sm-2">
              <span>
                <button *ngIf="!noneShow" class="btn btn-outline-success mr-2" type="button" (click)="addRoute()">
                  Thêm
                </button>
              </span>
              <span>
                <button class="btn btn-outline-danger" *ngIf="route.controls.length >1 && !noneShow" type="button"
                  (click)="subRoute(i)">
                  <span class="fa fa-trash-o"></span>
                </button>
              </span>
            </div>
          </div>
        </div> -->
        <div class="form-group row mb-3">
          <label for="LicencePlate" class="col-sm-2 col-form-label text-md-right">Biển số <span class="text-danger"
              *ngIf="addEditForm.get('licencePlate').errors">*</span></label>
          <div class="col-sm-4">
            <input type="text" [ngClass]="{'has-error': (addEditForm.get('licencePlate').touched || addEditForm.get('licencePlate').dirty) && !addEditForm.get('licencePlate').valid}"
              class="form-control" id="LicencePlate" placeholder="Nhập biển số" formControlName="licencePlate" tabindex="3"
              (focusout)="checkOwnerId($event,'plate')">
          </div>
          <label for="route" class="col-sm-2 col-form-label text-md-right">Tuyến xe<span class="text-danger" *ngIf="addEditForm.get('route').errors">*</span></label>
          <div class="col-sm-4">
            <select class="custom-select form-control" id="route" formControlName="route" tabindex="2" (change)="checkOwnerId($event,'route')"
              [ngClass]="{'has-error': (addEditForm.get('route').touched || addEditForm.get('route').dirty) && !addEditForm.get('route').valid}">
              <option value=null disabled selected>&#45;&#45; Chọn tuyến xe &#45;&#45;</option>
              <option value="71">Xe chạy liên tỉnh</option>
              <option value="72">Xe chạy nội thành</option>
            </select>
          </div>
        </div>
        <!-- ========================================================================= -->

        <!-- *ngIf="addEditForm.get('licence').errors" -->
        <!-- [ngClass]="{'has-error': (addEditForm.get('licence').touched || addEditForm.get('licence').dirty) && !addEditForm.get('licence').valid}" -->
        <div class="form-group row mb-3">
          <label for="VehicleType" class="col-sm-2 col-form-label text-md-right">Loại xe<span class="text-danger" *ngIf="addEditForm.get('vehicleType').errors">*</span></label>
          <div class="col-sm-4">
            <select class="custom-select form-control" (change)="checkOwnerId($event,'type')" id="VehicleType"
              formControlName="vehicleType" tabindex="6" [ngClass]="{'has-error': (addEditForm.get('vehicleType').touched || addEditForm.get('vehicleType').dirty) && !addEditForm.get('vehicleType').valid}">
              <option value=null disabled selected>&#45;&#45; Chọn loại xe &#45;&#45;</option>
              <option *ngFor="let vehicle of lstVehicle" value={{vehicle.pk}}>{{vehicle.item}}</option>
            </select>
          </div>
          <label for="Weight" class="col-sm-2 col-form-label text-md-right">Tải trọng <span class="text-danger" *ngIf="addEditForm.get('weight').errors"></span></label>
          <div class="col-sm-4">
            <select class="custom-select form-control" id="Weight" formControlName="weight" tabindex="6" (change)="checkOwnerId($event,'weight')">
              <option value=null disabled selected>&#45;&#45; Chọn tải trọng &#45;&#45;</option>
              <option *ngFor="let cate of lstCategory" value={{cate.pk}}>{{cate.item}}</option>
            </select>
          </div>
        </div>
        <!-- ========================================================================== -->
        <div class="form-group row mb-3">
          <label for="Licence" class="col-sm-2 col-form-label text-md-right">Số đăng ký xe <span class="text-danger"
              *ngIf="addEditForm.get('licence').errors">*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="Licence" placeholder="" formControlName="licence" tabindex="5"
              [ngClass]="{'has-error': (addEditForm.get('licence').touched || addEditForm.get('licence').dirty) && !addEditForm.get('licence').valid}">
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="LicenceIssueDate" class="col-sm-2 col-form-label text-md-right">Ngày cấp <span class="text-danger"
              *ngIf="addEditForm.get('licenceIssueDate').errors">*</span></label>
          <div class="col-sm-4">
            <input type="date" [value]="addEditForm.get('licenceIssueDate').value | date:'yyyy-MM-dd'" class="form-control"
              id="LicenceIssueDate" formControlName="licenceIssueDate" tabindex="7" [ngClass]="{'has-error': (addEditForm.get('licenceIssueDate').touched || addEditForm.get('licenceIssueDate').dirty) && !addEditForm.get('licenceIssueDate').valid}">
          </div>
          <label for="LicenceIssueBy" class="col-sm-2 col-form-label text-md-right">Nơi cấp <span class="text-danger"
              *ngIf="addEditForm.get('licenceIssueBy').errors">*</span></label>
          <div class="col-sm-4">
            <select class="custom-select form-control" id="LicenceIssueBy" formControlName="licenceIssueBy" tabindex="8"
              [ngClass]="{'has-error': (addEditForm.get('licenceIssueBy').touched || addEditForm.get('licenceIssueBy').dirty) && !addEditForm.get('licenceIssueBy').valid}">
              <option value=null disabled selected>&#45;&#45; Chọn nơi cấp &#45;&#45;</option>
              <option *ngFor="let addres of lstAddress" value={{addres.pk}}>{{addres.tenDinhDanh}}</option>
            </select>
          </div>
        </div>
        <!-- ========================================================================= -->
        <div class="form-group row mb-3">
          <label for="RegistrationNo" class="col-sm-2 col-form-label text-md-right">Số đăng kiểm xe <span class="text-danger"
              *ngIf="addEditForm.get('registrationNo').errors">*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="RegistrationNo" placeholder="" name="RegistrationNo"
              formControlName="registrationNo" tabindex="9" [ngClass]="{'has-error': (addEditForm.get('registrationNo').touched || addEditForm.get('registrationNo').dirty) && !addEditForm.get('registrationNo').valid}">
          </div>
        </div>
        <!-- ========================================================================= -->
        <div class="form-group row mb-3">
          <label for="RegistrationIssueDate" class="col-sm-2 col-form-label text-md-right">Ngày cấp <span class="text-danger"
              *ngIf="addEditForm.get('registrationIssueDate').errors">*</span></label>
          <div class="col-sm-4">
            <input type="date" [value]="addEditForm.get('registrationIssueDate').value | date:'yyyy-MM-dd'" class="form-control"
              id="RegistrationIssueDate" formControlName="registrationIssueDate" tabindex="10" [ngClass]="{'has-error': (addEditForm.get('registrationIssueDate').touched || addEditForm.get('registrationIssueDate').dirty) && !addEditForm.get('registrationIssueDate').valid}" />
          </div>
          <label for="RegistrationExpDate" class="col-sm-2 col-form-label text-md-right">Ngày hết hạn <span class="text-danger"
              *ngIf="addEditForm.get('registrationExpDate').errors">*</span></label>
          <div class="col-sm-4">
            <input type="date" [value]="addEditForm.get('registrationExpDate').value | date:'yyyy-MM-dd'" class="form-control"
              id="RegistrationExpDate" formControlName="registrationExpDate" tabindex="11" [ngClass]="{'has-error': (addEditForm.get('registrationExpDate').touched || addEditForm.get('registrationExpDate').dirty) && !addEditForm.get('registrationExpDate').valid}" />
          </div>
        </div>
        <!-- ========================================================================= -->
        <div class="form-group row mb-3">
          <label for="CivInsurance" class="col-sm-2 col-form-label text-md-right">Bảo hiểm dân sự <span class="text-danger"
              *ngIf="addEditForm.get('civilInsurance').errors">*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="CivInsurance" placeholder="" name="CivInsurance"
              formControlName="civilInsurance" tabindex="12" [ngClass]="{'has-error': (addEditForm.get('civilInsurance').touched || addEditForm.get('civilInsurance').dirty) && !addEditForm.get('civilInsurance').valid}">
          </div>
          <div class="col-sm-6">
          </div>
        </div>
        <!-- ========================================================================= -->
        <div class="form-group row mb-3">
          <label for="CivilInsuranceIssueDate" class="col-sm-2 col-form-label text-md-right">Ngày cấp <span class="text-danger"
              *ngIf="addEditForm.get('civilInsuranceIssueDate').errors">*</span></label>
          <div class="col-sm-4">
            <input type="date" [value]="addEditForm.get('civilInsuranceIssueDate').value | date:'yyyy-MM-dd'" class="form-control"
              id="CivilInsuranceIssueDate" formControlName="civilInsuranceIssueDate" tabindex="13" [ngClass]="{'has-error': (addEditForm.get('civilInsuranceIssueDate').touched || addEditForm.get('civilInsuranceIssueDate').dirty) && !addEditForm.get('civilInsuranceIssueDate').valid}" />
          </div>
          <label for="CivilInsuranceExpDate" class="col-sm-2 col-form-label text-md-right">Ngày hết hạn <span class="text-danger"
              *ngIf="addEditForm.get('civilInsuranceExpDate').errors">*</span></label>
          <div class="col-sm-4">
            <input type="date" [value]="addEditForm.get('civilInsuranceExpDate').value | date:'yyyy-MM-dd'" class="form-control"
              id="CivilInsuranceExpDate" formControlName="civilInsuranceExpDate" tabindex="14" [ngClass]="{'has-error': (addEditForm.get('civilInsuranceExpDate').touched || addEditForm.get('civilInsuranceExpDate').dirty) && !addEditForm.get('civilInsuranceExpDate').valid}" />
          </div>
        </div>
        <!-- ========================================================================= -->
        <div class="form-group row mb-3">
          <label for="CargoInsurance" class="col-sm-2 col-form-label text-md-right">Bảo hiểm hàng hóa <span class="text-danger"
              hidden>*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="CargoInsurance" placeholder="" name="CargoInsurance"
              formControlName="cargoInsurance" tabindex="15">
          </div>
          <div class="col-sm-6">
          </div>
        </div>
        <!-- ========================================================================= -->
        <div class="form-group row mb-3">
          <label for="CargoInsuranceIssueDate" class="col-sm-2 col-form-label text-md-right">Ngày cấp <span class="text-danger"
              hidden>*</span></label>
          <div class="col-sm-4">
            <input type="date" [value]="addEditForm.get('cargoInsuranceIssueDate').value | date:'yyyy-MM-dd'" class="form-control"
              id="CargoInsuranceIssueDate" formControlName="cargoInsuranceIssueDate" tabindex="16" />
          </div>
          <label for="CargoInsuranceExpDate" class="col-sm-2 col-form-label text-md-right">Ngày hết hạn <span class="text-danger"
              hidden>*</span></label>
          <div class="col-sm-4">
            <input type="date" [value]="addEditForm.get('cargoInsuranceExpDate').value | date:'yyyy-MM-dd'" class="form-control"
              id="CargoInsuranceExpDate" formControlName="cargoInsuranceExpDate" tabindex="17" />
          </div>
        </div>
        <!-- ========================================================================= -->
        <div class="form-group row mb-3">
          <label for="ItineraryMonitoring" class="col-sm-2 col-form-label text-md-right">Giám sát <span class="text-danger"
              hidden>*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="ItineraryMonitoring" placeholder="" formControlName="itineraryMonitoring"
              tabindex="18">
          </div>
          <label for="IpMonitoring" class="col-sm-2 col-form-label text-md-right">IP giám sát <span class="text-danger"
              hidden>*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="IpMonitoring" placeholder="" formControlName="ipMonitoring"
              tabindex="18">
          </div>
        </div>
        <!-- ========================================================================= -->
        <div class="form-group row mb-3">
          <label for="ItineraryMonitoringIssueDate" class="col-sm-2 col-form-label text-md-right">Ngày cấp <span class="text-danger"
              hidden>*</span></label>
          <div class="col-sm-4">
            <input type="date" [value]="addEditForm.get('itineraryMonitoringIssueDate').value | date:'yyyy-MM-dd'"
              class="form-control" id="ItineraryMonitoringIssueDate" formControlName="itineraryMonitoringIssueDate"
              tabindex="19" />
          </div>
          <label for="ItineraryMonitoringExpDate" class="col-sm-2 col-form-label text-md-right">Ngày hết hạn <span
              class="text-danger" hidden>*</span></label>
          <div class="col-sm-4">
            <input type="date" [value]="addEditForm.get('itineraryMonitoringExpDate').value | date:'yyyy-MM-dd'" class="form-control"
              id="ItineraryMonitoringExpDate" formControlName="itineraryMonitoringExpDate" tabindex="20" />
          </div>
        </div>
        <!-- ========================================================================= -->
        <div class="form-group row mb-3">
          <label for="CarBadges" class="col-sm-2 col-form-label text-md-right">Phù hiệu xe <span class="text-danger"
              hidden>*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="CarBadges" placeholder="" formControlName="carBadges" tabindex="18">
          </div>
          <div class="col-sm-6">
          </div>
        </div>
        <!-- ========================================================================= -->
        <div class="form-group row mb-3">
          <label for="CarBaIssDate" class="col-sm-2 col-form-label text-md-right">Ngày cấp <span class="text-danger"
              hidden>*</span></label>
          <div class="col-sm-4">
            <input type="date" [value]="addEditForm.get('carBaIssDate').value | date:'yyyy-MM-dd'" class="form-control"
              id="CarBaIssDate" formControlName="carBaIssDate" tabindex="19" />
          </div>
          <label for="CarBaExpDate" class="col-sm-2 col-form-label text-md-right">Ngày hết hạn <span class="text-danger"
              hidden>*</span></label>
          <div class="col-sm-4">
            <input type="date" [value]="addEditForm.get('carBaExpDate').value | date:'yyyy-MM-dd'" class="form-control"
              id="CarBaExpDate" formControlName="carBaExpDate" tabindex="20" />
          </div>
        </div>
        <!-- ================================================================= -->

        <div class="form-group row mb-3 mt-3">
          <label for="state" class="col-sm-2 col-form-label text-md-right">Trạng thái <span class="text-danger" hidden>*</span></label>
          <div class="col-sm-4">
            <select class="custom-select form-control" id="state" tabindex="21" formControlName="state">
              <option value=null>&#45;&#45; Trạng thái &#45;&#45;</option>
              <option value="0">Chưa đăng ký xe</option>
              <option value="1">Đơn hàng chờ xác nhận</option>
              <option value="2">Có yêu cầu chưa báo giá</option>
              <option value="3">Báo giá cao, cần xem lại báo giá </option>
              <option value="4">Đang chờ vận chuyển</option>
              <option value="5">Đang chở hàng</option>
            </select>
          </div>
          <label for="DriverId" class="col-sm-2 col-form-label text-md-right">ID Lái xe <span class="text-danger"
              hidden>*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="DriverId" placeholder="Mã ID của Lái xe" formControlName="driverId"
              tabindex="22">
          </div>
        </div>
        <!-- <div class="form-group row mb-3">
          <label for="DriverName" class="col-sm-2 col-form-label text-md-right">Tên Lái xe <span class="text-danger"
              hidden>*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="DriverName" placeholder="Tên Lái xe" formControlName="driverName"
              tabindex="23">
          </div>
        </div> -->
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Đính kèm" *ngIf="isAdd">
      <ng-template ngbTabContent>
        <div class="mt-2">
          <div class="form-group row my-3 mr-2 ml-3">
            <label class="col-sm-6">Đăng ký xe (ảnh chụp trang bìa và các trang liên quan</label>
            <div class="col-sm-6" formGroupName="attachProperties">
              <div class="row">
                <input type="file" accept="image/*" name="DKYXEfiles[]" multiple class="custom-file-input form-control"
                  id="inputGroupFile01" (change)="selectFile('DKYXE');loadPreviewDKYXE()" ng2FileSelect [uploader]="uploaderDKYXE" />
                <label class="custom-file-label lbl-input" for="inputGroupFile01"><i class="fa fa-file-image-o"
                    aria-hidden="true"></i></label>
              </div>
            </div>
            <div class="col-sm-3" *ngFor="let item of uploaderDKYXE.queue; let i= index">
              <div class="imgView">
                <div class="text-right">
                  <button type="button" class="btn btn-danger btn-remove-img " (click)="item.remove();groupImg();loadPreviewDKYXE()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
                <img [src]="imgSrcPreviewDKYXE[i]" alt="" />
                <p>{{item.file.name}}</p>
              </div>
              <hr>
            </div>
          </div>

          <div class="form-group row my-3 mr-2 ml-3">
            <label class="col-sm-6">Đăng kiểm xe (chụp 2 mặt của giấy tờ)</label>
            <div class="col-sm-6" formGroupName="attachProperties">
              <div class="row">
                <input type="file" accept="image/*" name="CMNDfiles[]" multiple class="custom-file-input form-control"
                  id="inputGroupFile02" (change)="selectFile('DKIEMXE');loadPreviewDKIEMXE()" ng2FileSelect [uploader]="uploaderDKIEMXE"
                  tabindex="28" />
                <label class="custom-file-label lbl-input" for="inputGroupFile02"><i class="fa fa-file-image-o"
                    aria-hidden="true"></i></label>
              </div>
            </div>
            <div class="col-sm-3" *ngFor="let item of uploaderDKIEMXE.queue; let i= index">
              <div class="imgView">
                <div class="text-right">
                  <button type="button" class="btn btn-danger btn-remove-img " (click)="item.remove();groupImg();loadPreviewDKIEMXE()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
                <img [src]="imgSrcPreviewDKIEMXE[i]" alt="" />
                <p>{{item.file.name}}</p>
              </div>
              <hr>
            </div>
          </div>

          <div class="form-group row my-3 mr-2 ml-3">
            <label class="col-sm-6">Bảo hiểm dân sự xe (chụp 2 mặt của giấy phép)</label>
            <div class="col-sm-6" formGroupName="attachProperties">
              <div class="row">
                <input type="file" accept="image/*" name="CMNDfiles[]" multiple class="custom-file-input form-control"
                  id="inputGroupFile03" (change)="selectFile('BHDSXE');loadPreviewBHDSXE()" ng2FileSelect [uploader]="uploaderBHDSXE"
                  tabindex="28" />
                <label class="custom-file-label lbl-input" for="inputGroupFile03"><i class="fa fa-file-image-o"
                    aria-hidden="true"></i></label>
              </div>
            </div>
            <div class="col-sm-3" *ngFor="let item of uploaderBHDSXE.queue; let i= index">
              <div class="imgView">
                <div class="text-right">
                  <button type="button" class="btn btn-danger btn-remove-img " (click)="item.remove();groupImg();loadPreviewBHDSXE()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
                <img [src]="imgSrcPreviewBHDSXE[i]" alt="" />
                <p>{{item.file.name}}</p>
              </div>
              <hr>
            </div>
          </div>

          <div class="form-group row my-3 mr-2 ml-3">
            <label class="col-sm-6">Bảo hiểm hàng hóa xe (chụp 2 mặt của giấy phép)</label>
            <div class="col-sm-6" formGroupName="attachProperties">
              <div class="row">
                <input type="file" accept="image/*" name="CMNDfiles[]" multiple class="custom-file-input form-control"
                  id="inputGroupFile04" (change)="selectFile('BHHHXE');loadPreviewBHHHXE()" ng2FileSelect [uploader]="uploaderBHHHXE"
                  tabindex="28" />
                <label class="custom-file-label lbl-input" for="inputGroupFile01"><i class="fa fa-file-image-o"
                    aria-hidden="true"></i></label>
              </div>
            </div>
            <div class="col-sm-3" *ngFor="let item of uploaderBHHHXE.queue; let i= index">
              <div class="imgView">
                <div class="text-right">
                  <button type="button" class="btn btn-danger btn-remove-img " (click)="item.remove();groupImg();loadPreviewBHHHXE()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
                <img [src]="imgSrcPreviewBHHHXE[i]" alt="" />
                <p>{{item.file.name}}</p>
              </div>
              <hr>
            </div>
          </div>

          <div class="form-group row my-3 mr-2 ml-3">
            <label class="col-sm-6">Giấy xác nhận xe đã được gắn GS hành trình</label>
            <div class="col-sm-6" formGroupName="attachProperties">
              <div class="row">
                <input type="file" accept="image/*" name="CMNDfiles[]" multiple class="custom-file-input form-control"
                  id="inputGroupFile05" (change)="selectFile('GXNTBGS');loadPreviewGXNTBGS()" ng2FileSelect [uploader]="uploaderGXNTBGS"
                  tabindex="28" />
                <label class="custom-file-label lbl-input" for="inputGroupFile05"><i class="fa fa-file-image-o"
                    aria-hidden="true"></i></label>
              </div>
            </div>
            <div class="col-sm-3" *ngFor="let item of uploaderGXNTBGS.queue; let i= index">
              <div class="imgView">
                <div class="text-right">
                  <button type="button" class="btn btn-danger btn-remove-img " (click)="item.remove();groupImg();loadPreviewGXNTBGS()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
                <img [src]="imgSrcPreviewGXNTBGS[i]" alt="" />
                <p>{{item.file.name}}</p>
              </div>
              <hr>
            </div>
          </div>
          <!-- Phù hiệu xe -->
          <div class="form-group row my-3 mr-2 ml-3">
            <label class="col-sm-6">Phù hiệu xe</label>
            <div class="col-sm-6" formGroupName="attachProperties">
              <div class="row">
                <input type="file" accept="image/*" name="CMNDfiles[]" multiple class="custom-file-input form-control"
                  id="inputGroupFile06" (change)="selectFile('APHXE');loadPreviewAPHXE()" ng2FileSelect [uploader]="uploaderAPHXE"
                  tabindex="28" />
                <label class="custom-file-label lbl-input" for="inputGroupFile06"><i class="fa fa-file-image-o"
                    aria-hidden="true"></i></label>
              </div>
            </div>
            <div class="col-sm-3" *ngFor="let item of uploaderAPHXE.queue; let i= index">
              <div class="imgView">
                <div class="text-right">
                  <button type="button" class="btn btn-danger btn-remove-img " (click)="item.remove();groupImg();loadPreviewAPHXE()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
                <img [src]="imgSrcPreviewAPHXE[i]" alt="" />
                <p>{{item.file.name}}</p>
              </div>
              <hr>
            </div>
          </div>
          <!-- Ảnh chụp xe -->
          <div class="form-group row my-3 mr-2 ml-3">
            <label class="col-sm-6">Ảnh chụp xe</label>
            <div class="col-sm-6" formGroupName="attachProperties">
              <div class="row">
                <input type="file" accept="image/*" name="CMNDfiles[]" multiple class="custom-file-input form-control"
                  id="inputGroupFile07" (change)="selectFile('ACHXE');loadPreviewACHXE()" ng2FileSelect [uploader]="uploaderACHXE"
                  tabindex="28" />
                <label class="custom-file-label lbl-input" for="inputGroupFile07"><i class="fa fa-file-image-o"
                    aria-hidden="true"></i></label>
              </div>
            </div>
            <div class="col-sm-3" *ngFor="let item of uploaderACHXE.queue; let i= index">
              <div class="imgView">
                <div class="text-right">
                  <button type="button" class="btn btn-danger btn-remove-img " (click)="item.remove();groupImg();loadPreviewACHXE()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
                <img [src]="imgSrcPreviewACHXE[i]" alt="" />
                <p>{{item.file.name}}</p>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</form>

<div class="modal-footer">
  <button type="button" class="btn btn-success" [disabled]="!addEditForm.valid" (click)="onSave($event)">Lưu</button>
</div>
