<div class="row mt-2">
  <div class="col-md-4 my-auto">
    <input type="text" [(ngModel)]="searchObject.searchParam" name="searchParam" class="form-control input-search-admin"
    (keyup)="searchByPressEnter($event)" 
      placeholder="Nhập Biển số xe">
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-success w-100" (click)="search(searchObject)" title="Tìm kiếm"><i class="fa fa-search"
        aria-hidden="true"></i></button>
  </div>
  <div class="col-md-1 offset-md-6">
    <button type="button" class="btn btn-success w-100" (click)="_vehicleTable.rowDetail.collapseAllRows();isAdd=true;open(content)"
      title="Thêm mới"><i class="fa fa-user-plus fs-18" aria-hidden="true"></i></button>
    <div #snackbar [class]="isShow ? 'snackbar show' : 'snackbar'">{{txtNoti}}</div>
  </div>
</div>



<div class="row mt-2" [ngClass]="'d-block'">
  <div class="col">
    <div class="owner-view-title">Phương tiện vận tải</div>
    <ngx-datatable class='material expandable' [rows]='listVehicle' [columnMode]='"force"' [headerHeight]='50'
      [footerHeight]='50' [rowHeight]='"auto"' #vehicleTable [sorts]="[{prop: 'vehicleId', dir: 'desc'}]" [limit]="50">

      <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div style="padding-left: 35px;">
            <div class="container">
              <div class="row">
                <u class="col-6"><i>Thông tin chi tiết:</i></u>
                <div class="col-6 text-right"><i class="fa fa-times btn-close" title="Thu gọn" aria-hidden="true"
                    (click)="_vehicleTable.rowDetail.collapseAllRows()"></i>&nbsp;&nbsp;&nbsp;</div>
              </div>
              <div class="row">
                <div class="col-4">
                  <label class="badge-light">Mã xe của bạn</label>
                  <div>{{row.vehicleCode}}</div>
                </div>
                <div class="col-4">
                  <label class="badge-light">Tuyến xe</label>
                  <div>{{row.route === 71 ? 'Xe chạy liên tỉnh' : row.route === 72 ? 'Xe chạy nội thành' : 'Đang cập
                    nhật'}}</div>
                </div>
                <div class="col-4">
                  <label class="badge-light">Loại xe</label>
                  <div>{{row.vehicleType | showData3}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <label class="badge-light">Tên Lái xe</label>
                  <div>{{row.driverName}}</div>
                </div>
                <div class="col-4">
                  <label class="badge-light">Biển số</label>
                  <div>{{row.licencePlate}}</div>
                </div>
                <div class="col-4">
                  <label class="badge-light">Tải trọng</label>
                  <div>{{row.weight | showWeight}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <label class="badge-light">Số đăng ký xe</label>
                  <div>{{row.licence}}</div>
                </div>
                <div class="col-4">
                  <label class="badge-light">Ngày cấp</label>
                  <div>{{row.licenceIssueDate | date: 'dd/MM/yyyy'}}</div>
                </div>
                <div class="col-4">
                  <label class="badge-light">Nơi cấp</label>
                  <div>{{row.licenceIssueBy }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <label class="badge-light">Số đăng kiểm xe</label>
                  <div>{{row.registrationNo}}</div>
                </div>
                <div class="col-4">
                  <label class="badge-light">Ngày cấp</label>
                  <div>{{row.registrationIssueDate | date: 'dd/MM/yyyy'}}</div>
                </div>
                <div class="col-4">
                  <label class="badge-light">ngày hết hạn</label>
                  <div>{{row.registrationExpDate | date: 'dd/MM/yyyy'}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <label class="badge-light">Số bảo hiểm dân sự</label>
                  <div>{{row.civilInsurance}}</div>
                </div>
                <div class="col-4">
                  <label class="badge-light">Ngày cấp</label>
                  <div>{{row.civilInsuranceIssueDate | date: 'dd/MM/yyyy'}}</div>
                </div>
                <div class="col-4">
                  <label class="badge-light">Ngày hết hạn</label>
                  <div>{{row.civilInsuranceExpDate | date: 'dd/MM/yyyy'}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <label class="badge-light">Số bảo hiểm hàng hóa</label>
                  <div>{{row.cargoInsurance}}</div>
                </div>
                <div class="col-4">
                  <label class="badge-light">Ngày cấp</label>
                  <div>{{row.cargoInsuranceIssueDate | date: 'dd/MM/yyyy'}}</div>
                </div>
                <div class="col-4">
                  <label class="badge-light">Ngày hết hạn</label>
                  <div>{{row.cargoInsuranceExpDate | date: 'dd/MM/yyyy'}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <label class="badge-light">Giấy xác nhận thiết bị GS hành trình</label>
                  <div>{{row.itineraryMonitoring}}</div>
                </div>
                <div class="col-4">
                  <label class="badge-light">Ngày cấp</label>
                  <div>{{row.itineraryMonitoringIssueDate | date: 'dd/MM/yyyy'}}</div>
                </div>
                <div class="col-4">
                  <label class="badge-light">Ngày hết hạn</label>
                  <div>{{row.itineraryMonitoringExpDate | date: 'dd/MM/yyyy'}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <i>Các giấy tờ liên quan của phương tiện:</i>
                </div>
              </div>
            </div>
          </div>
          <ngb-tabset>
            <ngb-tab title="Đăng ký xe">
              <ng-template ngbTabContent>
                <div class="container imgView">
                  <div class="row mt-3">
                    <div class="col-12">
                      <p>• Đăng ký xe (ảnh chụp trang bìa và trang liên quan): 
                        {{(row.attachProperties?.DKYXE===undefined||row.attachProperties?.DKYXE.length==0)?'Không có
                        ảnh':''}}</p>
                      <ng-container *ngFor="let el of row.attachProperties?.DKYXE">
                        <div class="col-sm-4" (click)="openImg(imgView,getUrlImg('DKYXE'),el)">
                          <img [src]="getUrlImg('DKYXE') +el" alt="" />
                          <br>
                          <div class="text-center img-name">{{el}}</div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Đăng kiểm xe">
              <ng-template ngbTabContent>
                <div class="container imgView">
                  <div class="row mt-3">
                    <div class="col-9">
                      <p>• Đăng kiểm xe (ảnh chụp hai mặt giấy tờ): 
                        {{(row.attachProperties?.DKYXE===undefined||row.attachProperties?.DKYXE.length==0)?'Không có
                        ảnh':''}}
                      </p>
                      <ng-container *ngFor="let el of row.attachProperties?.DKIEMXE">
                        <div class="col-sm-4" (click)="openImg(imgView,getUrlImg('DKIEMXE'),el)">
                          <img [src]="getUrlImg('DKIEMXE') +el" alt="" />
                          <br>
                          <div class="text-center img-name">{{el}}</div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Bảo hiểm dân sự xe">
              <ng-template ngbTabContent>
                <div class="container imgView">
                  <div class="row mt-3">
                    <div class="col-9">
                      <p>• Bảo hiểm dân sự xe (ảnh chụp hai mặt giấy tờ): 
                        {{(row.attachProperties?.BHDSXE===undefined||row.attachProperties?.BHDSXE.length==0)?'Không có
                        ảnh':''}}
                      </p>
                      <ng-container *ngFor="let el of row.attachProperties?.BHDSXE">
                        <div class="col-sm-4" (click)="openImg(imgView,getUrlImg('BHDSXE'),el)">
                          <img [src]="getUrlImg('BHDSXE') +el" alt="" />
                          <br>
                          <div class="text-center img-name">{{el}}</div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Bảo hiểm hàng hóa xe">
              <ng-template ngbTabContent>
                <div class="container imgView">
                  <div class="row mt-2">
                    <div class="col-9">
                      <p>• Bảo hiểm hàng hóa xe (ảnh chụp hai mặt giấy tờ): 
                        {{(row.attachProperties?.BHHHXE===undefined||row.attachProperties?.BHHHXE.length==0)?'Không có
                        ảnh':''}}
                      </p>
                    </div>
                    <ng-container *ngFor="let el of row.attachProperties?.BHHHXE">
                      <div class="col-sm-4" (click)="openImg(imgView,getUrlImg('BHHHXE'),el)">
                        <img [src]="getUrlImg('BHHHXE') +el" alt="" />
                        <br>
                        <div class="text-center img-name">{{el}}</div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Xác nhận xe gắn t.bị GS">
              <ng-template ngbTabContent>
                <div class="container imgView">
                  <div class="row mt-2">
                    <div class="col-9">
                      <p>• Giấy xác nhận xe đã được gắn thiết bị giám sát hành trình (ảnh chụp hai mặt giấy tờ): 
                        {{(row.attachProperties?.GXNTBGS===undefined||row.attachProperties?.GXNTBGS.length==0)?'Không
                        có ảnh':''}}
                      </p>
                      <ng-container *ngFor="let el of row.attachProperties?.GXNTBGS">
                        <div class="col-sm-4" (click)="openImg(imgView,getUrlImg('GXNTBGS'),el)">
                          <img [src]="getUrlImg('GXNTBGS') +el" alt="" />
                          <br>
                          <div class="text-center img-name">{{el}}</div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </ng-template>
      </ngx-datatable-row-detail>

      <ngx-datatable-column [minWidth]="70" [maxWidth]="70" [resizeable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="default align-center tbl-header">
            <strong>STT</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
          <span data-toggle="tooltip" title="{{rowIndex + 1}}">
            {{rowIndex + 1}}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="vehicleId" [width]="70" hidden prop="vehicleId">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>ID</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="vehicleCode" [width]="100" prop="vehicleCode">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Mã xe</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="driverName" [width]="150" prop="driverName">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Tên Lái xe</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="state" [width]="170" prop="state">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Trạng thái</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          {{value | showData2}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="licencePlate" [width]="140" prop="licencePlate">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Biển số</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="licence" [width]="120" prop="licence">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Số đăng ký</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [minWidth]="140" [maxWidth]="140">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Thao tác</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <button type="button" class="btn btn-info button-custom-admin" (click)="toggleExpandRow(row)">
            <i class="fa fa-eye"></i>
          </button>
          <button type="button" class="btn btn-warning button-custom-admin ml-2" (click)="_vehicleTable.rowDetail.collapseAllRows();isAdd=false;edit(row, content)">
            <i class="fa fa-edit"></i>
          </button>
          <button type="button" class="btn btn-danger button-custom-admin ml-2" (click)="openSm(del, row.vehicleId)">
            <i class="fa fa-trash"></i>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Phương tiện vận tải</h3>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-vehiclepopup [vehicleViewModel]="_entityVehicle" (closeModalEvent)="c('close from Save')"
      (vehicleViewModelChange)="isAdd ? onSubmitVehicle($event) : onEditVehicle($event)"></app-vehiclepopup>
  </div>
</ng-template>

<pre>{{closeResult}}</pre>

<ng-template #del let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title">Xóa</h3>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Bạn có muốn xóa phương tiện ... không?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="d('No-delete')">Không</button>
    <button type="button" class="btn btn-danger" (click)="c('Yes-Delete')">Có</button>
  </div>
</ng-template>

<ng-template #imgView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="text-center">{{imgName}}</div>

    <button type="button" class="close" aria-label="Close" (click)="d( 'Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img class="imgFull" [src]="ulrImgFull" alt="" />
    <br>
    <br>
  </div>
</ng-template>
