<div class="row mt-2">
  <div class="col-md-4 my-auto">
    <input type="text" [(ngModel)]="searchObject.searchParam" name="searchParam" class="form-control input-search-admin" placeholder="Tìm Kiếm">
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-success w-100" (click)="search(searchObject)">Search</button>
  </div>
  <div class="col-md-5"></div>
  <div class="col-md-1">
    <button type="button" class="btn btn-success w-100" (click)="isAdd=true;open(content)">Add</button>
    <div #snackbar [class]="isShow ? 'snackbar show' : 'snackbar'">{{txtNoti}}</div>
  </div>
</div>



<div class="row mt-2">
  <div class="col">
    <div class="owner-view-title">Phương tiện vận tải</div>
    <ngx-datatable class='material selection-cell datatable table-shadow' [rows]='listVehicle' [columns]="columns" [columnMode]='"force"' [headerHeight]='50'
      [footerHeight]='50' [rowHeight]='"auto"' [limit]="10" #vehicleTable [externalSorting]="true" [sorts]="[{prop: 'vehicleId', dir: 'desc'}]">
      <ngx-datatable-column name="id" [minWidth]="70" [maxWidth]="70" [resizeable]="false" [sortable]="true">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="default align-center">
            <strong>STT</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
          <span data-toggle="tooltip" title="{{rowIndex + 1}}">
            {{rowIndex + 1}}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="vehicleId" [width]="100" hidden prop="vehicleId">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>
            <strong>Vehicle Id</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <strong>{{value}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="vehicleCode" [width]="100" prop="vehicleCode">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>
            <strong>Mã xe</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <strong>{{value}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="driverName" [width]="150" prop="driverName">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>
            <strong>Tên tài xế</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="state" [width]="170" prop="state">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>
            <strong>Trạng thái</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          {{value === 0 ?"Chưa đăng ký xe" : value === 1 ?"Đơn hàng chờ xác nhận" : value === 2 ?"Có yêu cầu chưa báo giá" : value
          === 3 ?"Báo giá cao, cần xem lại báo giá" : value === 4 ?"Đang chờ vận chuyển" :"Đang chở hàng"}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="licencePlate" [width]="140" prop="licencePlate">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>
            <strong>Biển số</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="licence" [width]="120" prop="licence">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>
            <strong>Số đăng ký</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [minWidth]="150" [maxWidth]="150">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>
            <strong>Thao tác</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <button type="button" class="btn btn-info button-custom-admin" (click)="view(row.vehicleId,content)">
            <i class="fa fa-eye"></i>
          </button>
          <button type="button" class="btn btn-warning button-custom-admin ml-2" (click)="isAdd=false;edit(row.vehicleId, content)">
            <i class="fa fa-edit"></i>
          </button>
          <button type="button" class="btn btn-danger button-custom-admin ml-2" (click)="openSm(del, row.vehicleId)">
            <i class="fa fa-trash"></i>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-basic-title">Phương tiện vận tải</h3>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-vehiclepopup [noneShow]="noneShow" [vehicleViewModel]="entityVehicle" (closeModalEvent)="c('close from Save')" (vehicleViewModelChange)="isAdd ? onSubmitVehicle($event) : onEditVehicle($event)"></app-vehiclepopup>
    </div>
</ng-template>

<pre>{{closeResult}}</pre>

<ng-template #del let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title">Xóa</h3>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Bạn có muốn xóa phương tiện ... không?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="d('No-delete')">Không</button>
    <button type="button" class="btn btn-danger" (click)="c('Yes-Delete')">Có</button>
    <!-- <button type="button" class="btn btn-light" (click)="c( 'Close click')">Có</button> -->
  </div>
</ng-template>