<div class="row mt-2">
  <div class="col-md-4 my-auto">
    <input type="text" name="searchParam" class="form-control input-search-admin" placeholder="Tìm Kiếm">
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-success w-100">Search</button>
  </div>
  <div class="col-md-5"></div>
  <div class="col-md-1">
    <button type="button" class="btn btn-success w-100" (click)="open(content)">Add</button>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <div class="owner-view-title">Tài khoản</div>
    <ngx-datatable class="material selection-cell datatable table-shadow" [rows]='accounts'
      [columnMode]='"force"' [headerHeight]='50' [footerHeight]='50' [rowHeight]='"auto"' [limit]="10" #accountTable>
      <ngx-datatable-column name="accountId" [width]="100" prop="accountId">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>
            <strong>Account Id</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="password" [width]="100" prop="password">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>
            <strong>Password</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row" type="password">
          <input id="password" type="password" value="{{value}}" disabled/>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="email" [width]="150" prop="email">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>
            <strong>Email</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="phoneNumber" [width]="100" prop="phoneNumber">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>
            <strong>Phone Number</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="accountType" [width]="100" prop="accountType">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>
            <strong>Account Type</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="accountToken" [width]="100" prop="accountToken">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>
            <strong>Account Token</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="osType" [width]="100" prop="osType">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>
            <strong>Os Type</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="deviceToken" [width]="100" prop="deviceToken">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>
            <strong>Device Token</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Account</h3>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-account-info></app-account-info>
  </div>
</ng-template>