<div class="row mt-2">
  <div class="col-md-4 my-auto">
    <input type="text" [(ngModel)]="searchParam" #searchData name="searchParam" class="form-control input-search-admin" placeholder="Nhập SĐT, Tên hoặc Email"
      (keyup)="searchByPressEnter($event)">
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-success w-100" (click)="searchByPressEnter(searchData)" placement="bottom" ngbTooltip="Tìm kiếm"><i
        class="fa fa-search" aria-hidden="true"></i></button>
  </div>
  <div class="col-md-1 offset-md-6">
    <button type="button" class="btn btn-success w-100" (click)="open(content)" placement="bottom" ngbTooltip="Thêm mới Tài khoản"><i
        class="fa fa-user-plus fs-18" aria-hidden="true"></i></button>
    <div #snackbar [class]="isShow ? 'snackbar show' : 'snackbar'">{{txtNoti}}</div>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <div class="owner-view-title">Tài khoản</div>
    <ngx-datatable class="material selection-cell datatable table-shadow" [rows]='listAccount' [columnMode]='"force"'
      [headerHeight]='50' [footerHeight]='50' [rowHeight]='"auto"' [limit]="50" #accountTable>
      <ngx-datatable-column name="accountId" [minWidth]="100" [maxWidth]="100" prop="accountId" [resizeable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>
            <strong>ID</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="accountToken" [width]="100" prop="fullName">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>
            <strong>Họ tên</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="email" [width]="150" prop="email" headerClass="is-gender">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>
            <strong>Email</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="phoneNumber" [width]="100" prop="phoneNumber">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>
            <strong>Số điện thoại</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="accountType" [width]="100" prop="accountType">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>
            <strong>Vai trò</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          {{value | showData}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Account</h3>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-account-info [accountViewModel]="_entity" (accountViewModelChange)="onSubmit($event)" (closeModalEvent)="c('close from Save')"></app-account-info>
  </div>
</ng-template>
