<form [formGroup]="addEditForm" novalidate>
  <ngb-tabset>
    <ngb-tab title="Thông tin thông tin ngân hàng">
      <ng-template ngbTabContent>
        <input type="text" id="transferId" hidden formControlName="transferId">
        <input type="text" id="rootId" hidden formControlName="rootId">
        <div class="form-group row my-3">
          <label for="bankCode" class="col-sm-2 col-form-label text-md-right">Mã ngân hàng</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="bankCode" name="bankCode" placeholder="Mã ngân hàng"
              formControlName="bankCode" tabindex="1" [disabled]="true" [attr.disabled]="branchCount==0?null:true"/>
          </div>
          <label for="bankName" class="col-sm-2 col-form-label text-md-right">Tên ngân hàng</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="bankName" name="bankName" placeholder="Tên ngân hàng"
              formControlName="bankName" tabindex="2" />
          </div>
        </div>
        <div class="form-group row my-3">
          <label for="fee" class="col-sm-2 col-form-label text-md-right">Phí chuyển khoản</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="fee" name="fee" placeholder="Phí chuyển khoản" formControlName="fee"
              tabindex="3" [attr.disabled]="branchCount==0?null:true" />
          </div>
          <label for="linkIB" class="col-sm-2 col-form-label text-md-right">Link website</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="linkIB" name="linkIB" placeholder="Link website"
              formControlName="linkIB" tabindex="4" />
          </div>
        </div>
        <div class="form-group row my-3">
          <label for="connect" class="col-sm-2 col-form-label text-md-right">Trạng thái</label>
          <div class="col-sm-4">
            <select class="form-control" id="connect" name="connect" formControlName="connect" tabindex="5">
              <option value="1">Đã liên kết</option>
              <option value="0">Chưa liên kết</option>
            </select>
          </div>
        </div>

        <hr>
        <div>Chi nhánh</div>
        <div class="" formArrayName="branch" *ngFor="let bank of addEditForm.controls['branch']['controls']; index as i">
          <div [formGroupName]="i">
            <div class="row my-3 border-top" *ngIf="i>=0">
              <div class="col text-right mt-1">
                <button class="btn btn-danger" (click)="onRemoveBranch($event,i)" [ngClass]="{'d-none': noneShow}">
                  <span class="fa fa-trash-o"></span>
                </button>
              </div>
            </div>
            <div class="form-group row my-3">
              <label for="bankCode" class="col-sm-2 col-form-label text-md-right">Mã chi nhánh</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="bankCode" name="bankCode" placeholder="Mã ngân hàng"
                  formControlName="bankCode" tabindex="1" />
              </div>
              <label for="fee" class="col-sm-2 col-form-label text-md-right">Phí chuyển khoản</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="fee" name="fee" placeholder="Phí chuyển khoản"
                  formControlName="fee" tabindex="3" />
              </div>
            </div>
            <div class="form-group row my-3">

              <label for="bankName" class="col-sm-2 col-form-label text-md-right">Tên Chi nhánh</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="bankName" name="bankName" placeholder="Tên đầy đủ"
                  formControlName="bankName" tabindex="2" />
              </div>
              <label for="bankShortName" class="col-sm-2 col-form-label text-md-right">Tên rút gọn</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="bankShortName" name="bankShortName" placeholder="Tên thu gọn"
                  formControlName="bankName" tabindex="2" />
              </div>
            </div>
          </div>
        </div>
        <div class="text-center" >
          <button type="button" class="btn btn-dark m-2" (click)="onAddBranch($event)" tabindex="20">Thêm chi nhánh
          </button>
        </div>

      </ng-template>
    </ngb-tab>
  </ngb-tabset>

  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="(Save($event))">Save</button>
  </div>
</form>
