<div class="row">
  <div class="col-sm-4 my-auto">
    <input type="text" class="form-control text-input" placeholder="Tìm kiếm" (keyup)='txtSearch($event)' />
  </div>
  <div class="col-sm-3 offset-sm-1 my-auto">
    <div class="col">
      <div ngbDropdown class="d-inline-block btn-block">
        <button class="btn btn-outline-success btn-block" id="dropdownBasic1" ngbDropdownToggle><span class="mdi mdi-eye"></span>
          <span [ngSwitch]="orderState">
            <span *ngSwitchCase="1">
              Đơn hàng đã thanh toán
            </span>
            <span *ngSwitchCase="2">
              Đơn hàng chưa thanh toán
            </span>
            <span *ngSwitchDefault>
              Tất cả đơn hàng
            </span>
          </span></button>
        <!-- <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" (click)="changeState(0)">Tất cả đơn hàng</button>
          <button class="dropdown-item" (click)="changeState(1)">Đơn hàng đã thanh toán</button>
          <button class="dropdown-item" (click)="changeState(2)">Đơn hàng chưa thanh toán</button>
        </div> -->
      </div>
    </div>
  </div>
  <div class="col-sm-2 ofsfet-sm-1">
    <div class="col text-right">
      <div ngbDropdown class="d-inline-block btn-block">
        <button class="btn btn-outline-success btn-block" id="dropdownBasic1" ngbDropdownToggle><span class="mdi mdi-eye"></span>
          {{toShow==undefined?'Tất cả':toShow}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" (click)="changeShow(5)"><span class="mdi mdi-eye"></span> 5</button>
          <button class="dropdown-item" (click)="changeShow(10)"><span class="mdi mdi-eye"></span> 10</button>
          <button class="dropdown-item" (click)="changeShow(20)"><span class="mdi mdi-eye"></span> 20</button>
          <button class="dropdown-item" (click)="changeShow(50)"><span class="mdi mdi-eye"></span> 50</button>
          <button class="dropdown-item" (click)="changeShow(0)"><span class="mdi mdi-eye"></span> Tất cả</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">

</div>
<div class="row mt-2">
  <div class="col">
    <div class="order-view-title">Danh sách đơn hàng</div>
    <ngx-datatable #orderTable class='material expandable fullscreen' [columnMode]="'force'" [headerHeight]="50"
      [footerHeight]="50" [rowHeight]="'auto'" [rows]='listOrder' [sorts]="[{prop: 'orderId', dir: 'desc'}]" [limit]="toShow">


      <!--Data col show-->
      <ngx-datatable-column name="Index" [width]="55" [maxWidth]="55">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>STT</strong>
          </span>
        </ng-template>
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <span>{{rowIndex+1}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="orderId" [width]="50">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Mã Đơn hàng</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{row.orderId}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="50">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Tên đơn hàng</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{row.orderName}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="50">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Mã chủ hàng</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{row.accountId}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="50">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Mã tài xế</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{row.accountIdDriver}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="50">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Khối lượng</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.weight}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="60">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Trạng thái</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{getState(row.state)}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="action" [minWidth]="100" [width]="100" [maxWidth]="100" [resizeable]="false">
        <ng-template let-column="colmun" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Thanh toán</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template class="text-center" let-value="value" let-row="row">
          <button *ngIf="row.state==6||row.state==7" class="btn btn-success button-custom-admin ml-2" (click)="openSm(confirm,row.orderId,row.accountId)"  title="Thanh toán">
            <i class="fa fa-money" aria-hidden="true"></i>
          </button>

          <button *ngIf="row.state!=6&&row.state!=7" class="btn btn-secondary button-custom-admin ml-2" disabled title="Chưa thể thanh toán">
            <i class="fa fa-money" aria-hidden="true"></i>
          </button>

        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<!--Modal--->
<ng-template #confirm let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Xác nhận thanh toán đơn hàng: <strong style="color: #3d66fb;">{{orderId}}</strong></h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Nội dung thông báo:</p>
    <textarea class="form-control" aria-label="With textarea" [(ngModel)]="message"></textarea>
    <div class="input-group mb-3">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2">Số tiền thanh toán (VNĐ):</span>
      </div>
      <!-- <input type="text" class="form-control" (keypress)="checkTypeNum($event)" (keyup)="checkNum($event)" [(ngModel)]="paid"
        placeholder="tối đa 100 tỷ" aria-describedby="basic-addon2" title="Số tiền"> -->
      <label class="form-control" placeholder="Error" aria-describedby="basic-addon2" title="Số tiền">{{paid|currency:'':'':'0.0'}}</label>
    </div>
    <div class="input-group mb-3">
      <small class="text-danger">- {{paidValid?numToVND().doc(paid):'Số tiền không hợp lệ.'}}{{paidValid?'':' hoặc Số dư không đủ'}}</small>
    </div>
    <hr>
    <div>
      <i>Thông tin chủ hàng:</i><br>
      - Mã chủ hàng: {{accountIdGoodOwner}}<br>
      - Họ tên: {{goodOwnerName}} <br>
      - Số dư hiện tại: {{currentBalanceGoodOwner|currency:'':'':'0.0'}}
    </div>
  </div>
  <div class="modal-footer">
      <small class="text-danger"></small>
    <button type="button" class="btn btn-outline-success" (click)="paidValid?c('Ok click'):''" [disabled]="!paidValid  ">Thanh toán</button>
    <button type="button" class="btn btn-outline-secondary" (click)="d('cancel click')">Hủy bỏ</button>
  </div>
</ng-template>
<ngx-spinner bdColor="rgba(107, 107, 107, 0.54)" size="medium" color="rgb(8, 210, 24)" type="ball-clip-rotate-multiple"></ngx-spinner>