<div class="row mt-2">
  <div class="col-md-4 my-auto">
    <input type="text" [(ngModel)]="searchObject.searchParam" #searchData name="searchObject" class="form-control input-search-admin"
      placeholder="Nhập Mã đơn hàng" (keyup)="searchByPressEnter($event)">
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-success w-100" (click)="search(searchObject)" placement="bottom" ngbTooltip="Tìm kiếm"><i
        class="fa fa-search" aria-hidden="true"></i></button>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <div class="order-view-title">Danh sách đơn hàng</div>
    <ngx-datatable #orderTable class='material expandable fullscreen' [columnMode]="'force'" [headerHeight]="50"
      [footerHeight]="50" [rowHeight]="'auto'" [rows]='listOrder' [sorts]="[{prop: 'orderId', dir: 'desc'}]" [limit]="50">
      <!--Data col show-->
      <ngx-datatable-column name="Index" [width]="55" [maxWidth]="55">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>STT</strong>
          </span>
        </ng-template>
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <span>{{rowIndex+1}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="orderId" [width]="50">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Mã Đơn hàng</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{row.orderId}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="50">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Tên đơn hàng</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{row.orderName}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="50">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Mã chủ hàng</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{row.accountId}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="50">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Mã Lái xe</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{row.accountIdDriver}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="50">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Khối lượng</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.weight}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="60">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Trạng thái</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{getState(row.state)}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="action" [minWidth]="100" [width]="100" [maxWidth]="100" [resizeable]="false">
        <ng-template let-column="colmun" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Thanh toán</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template class="text-center" let-value="value" let-row="row">
          <button *ngIf="row.state==6" class="btn btn-success button-custom-admin ml-2" (click)="openSm(confirm,row)"
            ngbTooltip="Xác nhận thanh toán">
            <i class="fa fa-money" aria-hidden="true"></i>
          </button>
          <button *ngIf="row.state!=6" class="btn btn-secondary button-custom-admin ml-2" placement="bottom" ngbTooltip="Trạng thái đơn hàng chưa cho phép thanh toán">
            <i class="fa fa-money" aria-hidden="true"></i>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<!--Modal--->
<ng-template #confirm let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Xác nhận thanh toán đơn hàng <strong style="color: #3d66fb;">{{orderId}}</strong></h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <i>Thông tin chủ hàng:</i><br>
      - Mã chủ hàng: {{accountIdGoodOwner}}<br>
      - Họ tên: {{goodOwnerName}} <br>
      - Số dư hiện tại: {{currentBalanceGoodOwner|currency:'':'':'0.0'}} đ
    </div>
    <hr>
    <!-- Mess: {{configService.config.ORDER_PAID_MESSGAGE_TEMPLATE}}<br>
    <br>inputMessBankNumber _ {{inputMessBankNumber}}
    <br>inputMessBankCode _ {{inputMessBankCode}}
    <br>inputMessOrderId _ {{inputMessOrderId}}
    <br>inputMessUserCode _ {{inputMessUserCode}}
    <hr> -->
    <p>Nội dung thanh toán:</p>
    <textarea class="form-control" aria-label="With textarea" [(ngModel)]="message" placeholder="Nhập nội dung thanh toán"
      (keyup)="checkInputMessage($event)"></textarea>
    <div class="input-group mb-3">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2">Số tiền thanh toán (VNĐ):</span>
      </div>
      <label class="form-control" placeholder="Error" aria-describedby="basic-addon2" title="Số tiền">{{paid|currency:'':'':'0.0'}}</label>
    </div>
    <div class="input-group mb-3">
      <small class="text-danger">- {{paidValid?numToVND().doc(paid):'Số tiền không hợp lệ.'}}{{paidValid?'':' hoặc Số
        dư không đủ'}}</small>
    </div>
  </div>
  <div class="modal-footer">
    <small class="text-danger">{{!messageValid?'Nội dung thanh toán không đúng.':''}}</small>
    <button type="button" *ngIf="(paidValid && messageValid)" class="btn btn-success" (click)="c('Ok click')">Thanh
      toán</button>
    <button type="button" *ngIf="!(paidValid && messageValid)" class="btn btn-secondary">Thanh toán</button>
    <button type="button" class="btn btn-secondary" (click)="d('cancel click')">Hủy bỏ</button>
  </div>
</ng-template>
<ngx-spinner bdColor="rgba(107, 107, 107, 0.54)" size="medium" color="rgb(8, 210, 24)" type="ball-clip-rotate-multiple"></ngx-spinner>
