<form [formGroup]="addEditForm" novalidate>
  <div class="form-group row my-3">
    <label for="AccountId" class="col-sm-2 col-form-label text-md-right">Mã chủ hàng </label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="AccountId" formControlName="accountId" tabindex="1" readonly />
    </div>
    <label for="OrderId" class="col-sm-2 col-form-label text-md-right">Mã đơn hàng </label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="OrderId" formControlName="orderId" tabindex="2" readonly />
    </div>
  </div>
  <div class="form-group row my-3">
    <label for="ContractNo" class="col-sm-2 col-form-label text-md-right">Số hợp đồng </label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="ContractNo" placeholder="" formControlName="contractNo" tabindex="3"
        [ngClass]="{'is-invalid': displayMessage.contractNo}" />
      <span class="invalid-feedback">
        {{displayMessage.contractNo}}
      </span>
    </div>
    <label for="InsuranSpend" class="col-sm-2 col-form-label text-md-right">Chi phí bảo hiểm </label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="InsuranSpend" formControlName="insuranSpend" tabindex="4" [ngClass]="{'is-invalid': displayMessage.insuranSpend}" />
      <span class="invalid-feedback">
        {{displayMessage.insuranSpend}}
      </span>
    </div>
  </div>
  <div class="form-group row my-3">
    <label for="InsuranPrice" class="col-sm-2 col-form-label text-md-right">Giá trị bảo hiểm </label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="InsuranPrice" formControlName="insuranPrice" tabindex="5" [ngClass]="{'is-invalid': displayMessage.insuranPrice}" />
      <span class="invalid-feedback">
        {{displayMessage.insuranPrice}}
      </span>
    </div>
    <label for="SumInsuPrice" class="col-sm-2 col-form-label text-md-right">Tổng tiền bảo hiểm </label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="SumInsuPrice" formControlName="sumInsuPrice" tabindex="6" [ngClass]="{'is-invalid': displayMessage.sumInsuPrice}" />
      <span class="invalid-feedback">
        {{displayMessage.sumInsuPrice}}
      </span>
    </div>
  </div>
  <div class="form-group row my-3">
    <label for="State" class="col-sm-2 col-form-label text-md-right">Trạng thái </label>
    <div class="col-sm-4">
      <select class="custom-select form-control" [ngClass]="{'is-invalid': displayMessage.state}" id="State"
        formControlName="state" tabindex="7" disabled>
        <option value=null disabled selected>&#45;&#45; Chọn trạng thái &#45;&#45;</option>
        <option value="1">Đơn hàng được đăng ký mua bảo hiểm</option>
        <option value="2">đã gửi push yêu cầu chủ hàng xác nhận mua bảo hiểm</option>
        <option value="3">Chủ hàng đã xác nhận mua bảo hiểm</option>
      </select>
      <span class="invalid-feedback">
        {{displayMessage.state}}
      </span>
    </div>
    <label for="updateTime" class="col-sm-2 col-form-label text-md-right">Ngày mua</label>
    <div class="col-sm-4">
      <input type="date" class="form-control" [value]="addEditForm.get('updateTime').value  | date:'yyyy-MM-dd'"
        formControlName="updateTime">
    </div>
  </div>
</form>
<div class="modal-footer">
  <span *ngIf="addEditForm.invalid" style="color: red" class="is-invalid">
    Hãy điền đầy đủ thông tin
  </span>
  <button type="button" class="btn btn-success" (click)="onSave($event)" [disabled]="addEditForm.invalid">Save</button>
</div>