<div id="main-wrapper-admin">
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <app-navigation></app-navigation>
  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <app-sidebar></app-sidebar>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper-admin">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <app-breadcrumb></app-breadcrumb>
      <div class="admin-main-container">
        <router-outlet (closeModalEvent)="viewData($event)"></router-outlet>
      </div>

      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <!-- <router-outlet></router-outlet> -->
      <!-- ============================================================== -->
      <!-- End Start Page Content -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">
      <p class="m-0 text-success">
        <span class="copyright">
          COPYRIGHT © <span id="footer_year">2018</span> VTGO. ALL RIGHTS RESERVED.
        </span>
        <span class="social-list">
          <a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
          <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
          <a href="#"> <i class="fa fa-google-plus" aria-hidden="true"></i> </a>
          <a href="#"> <i class="fa fa-youtube-play" aria-hidden="true"></i> </a>
        </span>
      </p>
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
</div>
