<form [formGroup]="addEditForm" novalidate id="form">
  <ngb-tabset>
    <ngb-tab title="Thông tin cá nhân Chủ hàng">
      <ng-template ngbTabContent>
        <input type="text" id="accountid" hidden formControlName="accountId">
        <div class="form-group row my-3">
          <label for="fullname" class="col-sm-2 col-form-label text-md-right">Họ và tên <span class="text-danger" *ngIf="addEditForm.get('fullName').invalid && addEditForm.get('fullName').touched">*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Họ tên" formControlName="fullName"
              tabindex="1" />
          </div>
          <label for="nationality" class="col-sm-2 col-form-label text-md-right">Quốc tịch <span class="text-danger"
              *ngIf="addEditForm.get('nationality').invalid && addEditForm.get('nationality').touched">*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="nationality" name="nationality" placeholder="Quốc tịch"
              formControlName="nationality" tabindex="2" />
          </div>
        </div>
        <div class="form-group row my-3">
          <label for="dateOfBirth" class="col-sm-2 col-form-label text-md-right">Ngày sinh <span class="text-danger"
              *ngIf="addEditForm.get('dateOfBirth').invalid && addEditForm.get('dateOfBirth').touched">*</span></label>
          <div class="col-sm-4">
            <input type="date" data-date="" data-date-format="ddmmyyyy" class="form-control" id="dateOfBirth" name="dateOfBirth"
              placeholder="Ngày sinh" formControlName="dateOfBirth" tabindex="3" />
          </div>
        </div>
        <div class="form-group row my-3">
          <label for="identityNo" class="col-sm-2 col-form-label text-md-right">Số CMT <span class="text-danger" *ngIf="addEditForm.get('identityNo').invalid && addEditForm.get('identityNo').touched">*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="identityNo" name="identityNo" placeholder="Số giấy tờ"
              formControlName="identityNo" tabindex="4" />
          </div>
          <label for="issuedate" class="col-sm-2 col-form-label text-md-right">Ngày cấp <span class="text-danger" *ngIf="addEditForm.get('issueDate').invalid && addEditForm.get('issueDate').touched">*</span></label>
          <div class="col-sm-4">
            <input type="date" class="form-control" id="issuedate" name="issueDate" placeholder="Ngày cấp"
              formControlName="issueDate" tabindex="5" />
          </div>
        </div>
        <div class="form-group row my-3">
          <label for="issueby" class="col-sm-2 col-form-label text-md-right">Nơi cấp <span class="text-danger" *ngIf="addEditForm.get('issueBy').invalid && addEditForm.get('issueBy').touched">*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="issueby" name="issueby" placeholder="Nơi cấp" formControlName="issueBy"
              tabindex="6" />
          </div>
          <label for="gender" class="col-sm-2 col-form-label text-md-right">Giới tính <span class="text-danger" *ngIf="addEditForm.get('gender').invalid && addEditForm.get('gender').touched">*</span></label>
          <div class="col-sm-4">
            <select class="form-control" id="gender" name="gender" formControlName="gender" tabindex="7">
              <option value="null" disabled selected>&#45;&#45; Chọn giới tính &#45;&#45; </option>
              <option value="1">Nam</option>
              <option value="0">Nữ</option>
            </select>
          </div>
        </div>

        <div class="form-group row mb-3">
          <label for="phonenumber" class="col-sm-2 col-form-label text-md-right"> Số điện thoại <span class="text-danger"
              *ngIf="addEditForm.get('phoneNumber').invalid && addEditForm.get('phoneNumber').touched">*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="Số điện thoại"
              formControlName="phoneNumber" (focusout)="checkPhone()" tabindex="8" />
          </div>
          <label for="nationality" class="col-sm-2 col-form-label text-md-right">Địa chỉ <span class="text-danger"
              *ngIf="addEditForm.get('address').invalid && addEditForm.get('address').touched">*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="address" name="address" placeholder="Địa chỉ " formControlName="address"
              tabindex="9" />
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Hình ảnh đính kèm">
      <ng-template ngbTabContent>
        <div class="form-group row my-3">
          <label class="col-md-6">Chứng minh nhân dân/Thẻ căn cước</label>
          <div class="col-md-6 row">
            <div class="col-md-12" formGroupName="attachProperties">
              <input type="file" multiple class="form-control custom-file-input" id="inputGroupFile" (change)="selectFile($event,'CMND-OWNER')" />
              <label class="custom-file-label lbl-input" for="inputGroupFile01"><i class="fa fa-file-image-o"
                  aria-hidden="true"></i></label>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" [disabled]="addEditForm.invalid||!phoneValid" (click)="(Save($event))">Lưu</button>
  </div>
</form>
