<div class="row">
  <div class="col-sm-4 my-auto">
    <input type="text" class="form-control input-search-admin" placeholder="Nhập Mã đơn hàng" (keyup)="searchByPressEnter($event)">
  </div>
  <div class="col-sm-1 pl-sm-0">
    <button class="btn btn-success w-100" (click)="search(searchObject);" placement="bottom" ngbTooltip="Tìm kiếm"><i
        class="fa fa-search" aria-hidden="true"></i></button>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <div class="order-view-title">Danh sách đơn hàng</div>
    <ngx-datatable #orderTable class='material expandable fullscreen' [columnMode]="'force'" [headerHeight]="50"
      [footerHeight]="50" [rowHeight]="'auto'" [rows]='listOrder' [sorts]="[{prop: 'hisid', dir: 'desc'}]" [limit]="50">

      <!-- Row Detail Template -->
      <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div style="padding-left:35px;">
            <div class="container">
              <div class="row">
                <u class="col-6"><i>Thông tin chi tiết:</i></u>
                <div class="col-6 text-right"><i class="fa fa-times btn-close" title="Thu gọn" aria-hidden="true"
                    (click)="_orderTable.rowDetail.collapseAllRows()"></i>&nbsp;&nbsp;&nbsp;</div>
              </div>
              <table class="table  table-sm tbl-detail">
                <tbody>
                  <tr>
                    <td>
                      <div class="container">
                        <div class="row">1. Nhận hàng: </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Địa chỉ</div>
                          <div class="col-9">: {{row.srcAddress}}</div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Kinh độ - Vĩ độ</div>
                          <div class="col-9">: {{row.srcLong}}&#176; - {{row.srcLat}}&#176;</div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Thời gian </div>
                          <div class="col-9">: Từ {{row.receiveTime| date:'hh:mm:ss a dd/MM/yyyy'}} <i class="fa fa-long-arrow-right"
                              aria-hidden="true"></i> {{row.toReceiveTime | date:'hh:mm:ss a dd/MM/yyyy'}} (theo
                            timestamp)</div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- T.g thực tế </div>
                          <div class="col-9">: Từ {{row.realReceiveTime| date:'hh:mm:ss a dd/MM/yyyy'}} <i class="fa fa-long-arrow-right"
                              aria-hidden="true"></i> {{row.realToReceiveTime| date:'hh:mm:ss a dd/MM/yyyy'}} (bắt đầu
                            bốc
                            hàng phục vụ tính toán tiền lưu xe cập nhập lúc xe nhập mã bốc hàng)</div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="container">
                        <div class="row">2. Giao hàng: </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Địa chỉ</div>
                          <div class="col-9">: {{row.dstAddress}}</div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Kinh độ - Vĩ độ</div>
                          <div class="col-9">: {{row.dstLong}}&#176; - {{row.dstLat}}&#176;</div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Thời gian </div>
                          <div class="col-9">: Từ {{row.deliverTime| date:'hh:mm:ss a dd/MM/yyyy'}} <i class="fa fa-long-arrow-right"
                              aria-hidden="true"></i> {{row.toDeliverTime| date:'hh:mm:ss a dd/MM/yyyy'}} (theo
                            timestamp)</div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- T.g thực tế </div>
                          <div class="col-9">: Từ {{row.realDeliverTime| date:'hh:mm:ss a dd/MM/yyyy'}} <i class="fa fa-long-arrow-right"
                              aria-hidden="true"></i> {{row.realToDeliverTime| date:'hh:mm:ss a dd/MM/yyyy'}} (bắt đầu
                            bốc
                            hàng phục vụ tính toán tiền lưu xe cập nhập lúc xe nhập mã bốc hàng)</div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="container">
                        <div class="row">3. Thông tin hàng hóa: </div>
                        <div class="row">
                          <div class="col-2 offset-1">
                            - Mã bốc hàng
                          </div>
                          <div class="col-9">
                            : {{row.loadingCode}}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Danh sách hàng</div>
                          <div class="col-9">
                            <table class="table table-bordered table-striped table-hover">
                              <thead class="thead-light">
                                <tr>
                                  <td>Tên</td>
                                  <td>Trọng lượng</td>
                                  <td>Số lượng</td>
                                  <td>Cách đóng gói</td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let el of row.lstProduct">
                                  <td>{{el.name}}</td>
                                  <td>{{el.volumn}} (kg)</td>
                                  <td>{{el.quantity}}</td>
                                  <td>{{el.package}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Khối lượng</div>
                          <div class="col-9">: {{row.sumProduct}} (Tổng kiện hàng)</div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Thể tích</div>
                          <div class="col-9">: {{row.sumVolume}} (Tổng kiện hàng sau khi đóng gói)</div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Xe yêu cầu</div>
                          <div class="col-9">:
                            <span [ngSwitch]="row.typeCar">
                              <span *ngSwitchCase="0">
                                Xe tải và xe ben dưới 3,5 tấn
                              </span>
                              <span *ngSwitchCase="1">
                                Xe tải và xe ben trên 3,5 tấn và dưới 10 tấn
                              </span>
                              <span *ngSwitchCase="2">
                                Xe tải và xe ben trên 10 tấn
                              </span>
                              <span *ngSwitchDefault>
                                Xe chuyên dùng (xe fooc, xe cẩu chuyên dụng, container, xe đông lạnh, xe cứu hộ)
                              </span>
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Giá mong muốn </div>
                          <div class="col-9">: {{row.wantPrice|currency:'':'':'0.0'}}</div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Giá trị gia tăng </div>
                          <div class="col-9">: {{row.productType}}</div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="container">
                        <div class="row">4. Thay đổi: </div>
                        <div class="row">
                          <table class="offset-1 table table-bordered table-striped xtable-hover">
                            <thead class="thead-light">
                              <tr>
                                <td>Thời gian</td>
                                <td>Nội dung</td>
                                <td>Kiểu</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let el of row.lstOrderHis">
                                <td>{{el.updateTime| date:'hh:mm:ss a dd/MM/yyyy'}}</td>
                                <td>{{el.content}}</td>
                                <td>{{el.type}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="container">
                        <div class="row">5. Hoàn thiện: </div>
                        <div class="row">
                          <div class="col-2 offset-1">
                            - Mã hoàn thiện
                          </div>
                          <div class="col-9">
                            : Empty
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">
                            - Tình trạng h.hóa
                          </div>
                          <div class="col-9">
                            : {{row.goodStatus}}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">
                            - Thanh toán
                          </div>
                          <div class="col-9">
                            <span [ngSwitch]="row.orderComplete?.TypePayment">
                              <span *ngSwitchCase="2">: <b>Người giao</b> hàng thanh toán tiền mặt</span>
                              <span *ngSwitchCase="1">: <b>Người nhận</b> hàng tành toán tiền mặt</span>
                              <span *ngSwitchCase="0">: Thanh toán bằng thẻ/chuyển khoản vtgoPay/ bưu điện<br>
                                + Người gửi: {{row.orderComplete?.SenderName}}. SĐT: {{row.orderComplete?.SenderPhone}}<br>
                                + Công ty: {{row.orderComplete?.CompanyName}}. Địa chỉ:
                                {{row.orderComplete?.CompanyAddress}}<br>
                                + Người nhận: {{row.orderComplete?.ReceiverName}}. Địa chỉ:
                                {{row.orderComplete?.ReceiverPhone}}<br>
                                + DocEnclose: {{row.orderComplete?.DocEnclose}}<br>
                                + TaxCode: {{row.orderComplete?.ReceiverName}}
                              </span>
                              <span *ngSwitchDefault>: Lỗi dữ liệu</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="container">
                        <div class="row">6. Ghi chú: </div>
                        <div class="row">
                          <div class="col-2 offset-1">
                            - QuotationId
                          </div>
                          <div class="col-9">
                            : {{row.quotationId}}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">
                            - Ghi chú
                          </div>
                          <div class="col-9">
                            : {{row.note}}
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="container">
                        <div class="row">7. Hình ảnh: </div>
                        <div class="row imgView">
                          <ng-container *ngFor="let el of row.productImgLst">
                            <div class="col-sm-4" (click)="openImg(imgView,getUrlImg('IMAGE-ORDER'),el)">
                              <img [src]="getUrlImg('IMAGE-ORDER') +el" alt="" />
                              <br>
                              <div class="text-center img-name">{{el}}</div>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <br>
                      <p>Trạng thái:<strong> {{getState(row.state)}} </strong></p>
                      <div>
                        &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-outline-secondary" (click)="toggleExpandRow(row)">Đóng</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>
      <!--Data col show-->
      <ngx-datatable-column name="Index" [width]="50" [maxWidth]="50">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>STT</strong>
          </span>
        </ng-template>
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <span>{{rowIndex+1}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="50">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Mã Đơn hàng</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{row.orderId}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="50">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Tên đơn hàng</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{row.orderName}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="50">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Khối lượng</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.weight}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="80">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Nơi nhận</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{row.srcAddress }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="80">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Nơi giao</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{row.dstAddress }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="60">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Trạng thái</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{getState(row.state)}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="action" [minWidth]="50" [width]="60" [maxWidth]="60" [resizeable]="false">
        <ng-template let-column="colmun" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Xem</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <button type="button" class="btn btn-success button-custom-admin" (click)="toggleExpandRow(row)" placement="left"
            ngbTooltip="Xem chi tiết">
            <i class=" fa fa-eye "></i>
          </button>

        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>


<ng-template #imgView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="text-center">{{imgName}}</div>

    <button type="button" class="close" aria-label="Close" (click)="d( 'Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img class="imgFull" [src]="ulrImgFull" alt="" />
    <br>
    <br>
  </div>
</ng-template>
