.order-view-title {
  align-content: center;
  align-items: center;
  display: flex;
  padding: 8px 20px;
  color: #000000a4;
  background-color: #DDDDDD;
}


.btn-close {
  cursor: pointer;
  transition: .1s;
}

.btn-close:hover {
  font-size: 18px;
  color: #000000c7;
}

.tbl-detail {
  background-color: white !important;
}
