<div class="row">
  <div class="col-sm-4 my-auto">
    <input type="text" class="form-control text-input" placeholder="Tìm kiếm" (keyup)='txtSearch($event)' />
  </div>
  <div class="col-sm-1">
    <!-- <button class="btn btn-success">Tìm kiếm</button> -->
    <div class="col text-right">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-success" id="dropdownBasic1" ngbDropdownToggle><span class="mdi mdi-eye"></span>
          {{toShow==undefined?'Tất cả':toShow}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" (click)="changeShow(5)"><span class="mdi mdi-eye"></span> 5</button>
          <button class="dropdown-item" (click)="changeShow(10)"><span class="mdi mdi-eye"></span> 10</button>
          <button class="dropdown-item" (click)="changeShow(20)"><span class="mdi mdi-eye"></span> 20</button>
          <button class="dropdown-item" (click)="changeShow(50)"><span class="mdi mdi-eye"></span> 50</button>
          <button class="dropdown-item" (click)="changeShow(0)"><span class="mdi mdi-eye"></span> Tất cả</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">

</div>
<div class="row mt-2">
  <div class="col">
    <div class="order-view-title">Danh sách đơn hàng</div>
    <ngx-datatable #orderTable class='material expandable fullscreen' [columnMode]="'force'" [headerHeight]="50"
      [footerHeight]="50" [rowHeight]="'auto'" [rows]='listOrder' [sorts]="[{prop: 'hisid', dir: 'desc'}]" [limit]="toShow">

      <!-- Row Detail Template -->
      <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div style="padding-left:35px;">
            <div class="container">
              <div class="row">
                <u class="col-6"><i>Thông tin chi tiết:</i></u>
                <div class="col-6 text-right"><i class="fa fa-times btn-close" title="Thu gọn" aria-hidden="true"
                    (click)="_orderTable.rowDetail.collapseAllRows()"></i>&nbsp;&nbsp;&nbsp;</div>
              </div>
              <table class="table  table-sm tbl-detail">
                <tbody>
                  <tr>
                    <td>
                      <div class="container">
                        <div class="row">1. Nhận hàng: </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Địa chỉ</div>
                          <div class="col-9">: {{row.srcAddress}}</div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Kinh độ - Vĩ độ</div>
                          <div class="col-9">: {{row.srcLong}}&#176; - {{row.srcLat}}&#176;</div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Thời gian </div>
                          <div class="col-9">: Từ {{row.receiveTime| date:'hh:mm:ss a dd/MM/yyyy'}} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{row.toReceiveTime | date:'hh:mm:ss a dd/MM/yyyy'}} (theo timestamp)</div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- T.g thực tế </div>
                          <div class="col-9">: Từ {{row.realReceiveTime| date:'hh:mm:ss a dd/MM/yyyy'}} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{row.realToReceiveTime| date:'hh:mm:ss a dd/MM/yyyy'}} (bắt đầu bốc
                            hàng phục vụ tính toán tiền lưu xe cập nhập lúc xe nhập mã bốc hàng)</div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="container">
                        <div class="row">2. Giao hàng: </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Địa chỉ</div>
                          <div class="col-9">: {{row.dstAddress}}</div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Kinh độ - Vĩ độ</div>
                          <div class="col-9">: {{row.dstLong}}&#176; - {{row.dstLat}}&#176;</div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Thời gian </div>
                          <div class="col-9">: Từ {{row.deliverTime| date:'hh:mm:ss a dd/MM/yyyy'}} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{row.toDeliverTime| date:'hh:mm:ss a dd/MM/yyyy'}} (theo timestamp)</div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- T.g thực tế </div>
                          <div class="col-9">: Từ {{row.realDeliverTime| date:'hh:mm:ss a dd/MM/yyyy'}} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{row.realToDeliverTime| date:'hh:mm:ss a dd/MM/yyyy'}} (bắt đầu bốc
                            hàng phục vụ tính toán tiền lưu xe cập nhập lúc xe nhập mã bốc hàng)</div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="container">
                        <div class="row">3. Thông tin hàng hóa: </div>
                        <div class="row">
                          <div class="col-2 offset-1">
                            - Mã bốc hàng
                          </div>
                          <div class="col-9">
                            : {{row.loadingCode}}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Danh sách hàng</div>
                          <div class="col-9">
                            <table class="table table-bordered table-striped table-hover">
                              <thead class="thead-light">
                                <tr>
                                  <td>Tên</td>
                                  <td>Trọng lượng</td>
                                  <td>Số lượng</td>
                                  <td>Cách đóng gói</td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let el of row.lstProduct">
                                  <td>{{el.Name}}</td>
                                  <td>{{el.Volumn}} (kg)</td>
                                  <td>{{el.Quantity}}</td>
                                  <td>{{el.Package}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Khối lượng</div>
                          <div class="col-9">: {{row.sumProduct}} (Tổng kiện hàng)</div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Thể tích</div>
                          <div class="col-9">: {{row.sumVolume}} (Tổng kiện hàng sau khi đóng gói)</div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Xe yêu cầu</div>
                          <div class="col-9">:
                            <span [ngSwitch]="row.typeCar">
                              <span *ngSwitchCase="0">
                                Xe tải và xe ben dưới 3,5 tấn
                              </span>
                              <span *ngSwitchCase="1">
                                Xe tải và xe ben trên 3,5 tấn và dưới 10 tấn
                              </span>
                              <span *ngSwitchCase="2">
                                Xe tải và xe ben trên 10 tấn
                              </span>
                              <span *ngSwitchDefault>
                                Xe chuyên dùng (xe fooc, xe cẩu chuyên dụng, container, xe đông lạnh, xe cứu hộ)
                              </span>
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Giá mong muốn </div>
                          <div class="col-9">: {{row.wantPrice|currency:'':'':'0.0'}}</div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">- Giá trị gia tăng </div>
                          <div class="col-9">: {{row.productType}}</div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="container">
                        <div class="row">4. Thay đổi: </div>
                        <div class="row">
                          <table class="offset-1 table table-bordered table-striped xtable-hover">
                            <thead class="thead-light">
                              <tr>
                                <td>Thời gian</td>
                                <td>Nội dung</td>
                                <td>Kiểu</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let el of row.lstOrderHis">
                                <td>{{el.UpdateTime| date:'hh:mm:ss a dd/MM/yyyy'}}</td>
                                <td>{{el.Content}}</td>
                                <td>{{el.Type}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="container">
                        <div class="row">x. Hoàn thiện: </div>
                        <div class="row">
                          <div class="col-2 offset-1">
                            - Mã hoàn thiện
                          </div>
                          <div class="col-9">
                            : Empty
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">
                            - Tình trạng h.hóa
                          </div>
                          <div class="col-9">
                            : {{row.goodStatus}}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">
                            - Thanh toán
                          </div>
                          <div class="col-9">
                            <span [ngSwitch]="row.orderComplete?.TypePayment">
                              <span *ngSwitchCase="2">: <b>Người giao</b> hàng thanh toán tiền mặt</span>
                              <span *ngSwitchCase="1">: <b>Người nhận</b> hàng tành toán tiền mặt</span>
                              <span *ngSwitchCase="0">: Thanh toán bằng thẻ/chuyển khoản vtgoPay/ bưu điện<br>
                                + Người gửi: {{row.orderComplete?.SenderName}}. SĐT: {{row.orderComplete?.SenderPhone}}<br>
                                + Công ty: {{row.orderComplete?.CompanyName}}. Địa chỉ:
                                {{row.orderComplete?.CompanyAddress}}<br>
                                + Người nhận: {{row.orderComplete?.ReceiverName}}. Địa chỉ:
                                {{row.orderComplete?.ReceiverPhone}}<br>
                                + DocEnclose: {{row.orderComplete?.DocEnclose}}<br>
                                + TaxCode: {{row.orderComplete?.ReceiverName}}
                              </span>
                              <span *ngSwitchDefault>: Lỗi dữ liệu</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="container">
                        <div class="row">5. Ghi chú: </div>
                        <div class="row">
                          <div class="col-2 offset-1">
                            - QuotationId
                          </div>
                          <div class="col-9">
                            : {{row.quotationId}}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-2 offset-1">
                            - Ghi chú
                          </div>
                          <div class="col-9">
                            : {{row.note}}
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="container">
                        <div class="row">6. Hình ảnh: </div>
                        <div class="row imgArea">
                          <ng-container *ngFor="let el of row.productImgLst">
                            <div class="col-3 imgView">
                              <!-- <img [src]="row.uRLFolderProductImg + el" alt=""> -->
                              <img src="https://scontent.fhan3-3.fna.fbcdn.net/v/t1.0-9/26169267_1968609916798383_1011146939329326175_n.jpg?_nc_cat=108&oh=9d3b00579cb8ce90f698595232b01acc&oe=5C554EED" alt="">
                              <br>
                              {{el}}
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>
      <!--Data col show-->
      <ngx-datatable-column name="Index" [width]="45" [maxWidth]="45">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="default">
            <strong>STT</strong>
          </span>
        </ng-template>
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <strong>{{rowIndex+1}}</strong>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="50">
        <ng-template ngx-datatable-header-template>
          <span>
            <strong>Mã Đơn hàng</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <strong>{{row.orderId}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="50">
        <ng-template ngx-datatable-header-template>
          <span>
            <strong>Tên đơn hàng</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <strong>{{row.orderName}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [maxWidth]="90">
        <ng-template ngx-datatable-header-template>
          <span>
            <strong>Khối lượng</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.weight}}
        </ng-template>
      </ngx-datatable-column>
      <!-- <ngx-datatable-column [maxWidth]="100">
        <ng-template ngx-datatable-header-template>
          <span>
            <strong>Xe yêu cầu</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.typeCar}}
        </ng-template>
      </ngx-datatable-column> -->
      <ngx-datatable-column [width]="80">
        <ng-template ngx-datatable-header-template>
          <span>
            <strong>Nơi nhận</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <strong>{{row.srcAddress }}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="80">
        <ng-template ngx-datatable-header-template>
          <span>
            <strong>Nơi giao</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <strong>{{row.dstAddress }}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="60">
        <ng-template ngx-datatable-header-template>
          <span>
            <strong>Trạng thái</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{getState(row.state)}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="action" [minWidth]="50" [width]="50" [maxWidth]="50" [resizeable]="false">
        <ng-template let-column="colmun" ngx-datatable-header-template>
          <span>
            <strong>Xem</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <button type="button" class="btn btn-success button-custom-admin" (click)="toggleExpandRow(row)">
            <i class=" fa fa-eye "></i>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
