:host ::ng-deep {
    .tab-content {
        max-height: calc(70vh - 70px);
        overflow-y: auto;
        overflow-x: hidden;
    }
}
// input.ng-invalid {border-color: red;}
input.has-error{
    border-color: red;
}
select.has-error{
    border-color: red;
}

.mouse-hover {
    cursor: no-drop;
}
.img-show{
    width: 100%;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}