:host ::ng-deep {
    .tab-content {
        max-height: calc(70vh - 70px);
        overflow-y: auto;
        overflow-x: hidden;
    }
}
// input.ng-invalid {border-color: red;}
input.has-error{
    border-color: red;
}
select.has-error{
    border-color: red;
}

.mouse-hover {
    cursor: no-drop;
}