<form [formGroup]="addEditForm" novalidate>
  <ngb-tabset>
    <ngb-tab title="Thông tin cá nhân tài xế">
      <ng-template ngbTabContent>
        <input type="text" id="accountid" hidden formControlName="accountId">
        <div class="form-group row my-3">
          <label for="fullname" class="col-sm-2 col-form-label text-md-right">Họ và tên</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Họ tên" formControlName="fullName"
              tabindex="1" readonly="readonly" />
          </div>
          <label for="nationality" class="col-sm-2 col-form-label text-md-right">Quốc tịch</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="nationality" name="nationality" placeholder="Quốc tịch"
              formControlName="nationality" tabindex="2" readonly="readonly" />
          </div>
        </div>
        <div class="form-group row my-3">
          <label for="dateOfBirth" class="col-sm-2 col-form-label text-md-right">Ngày sinh</label>
          <div class="col-sm-4">
            <input type="date" class="form-control" [value]="addEditForm.get('dateOfBirth').value  | date:'yyyy-MM-dd'"
              formControlName="dateOfBirth" readonly="readonly">
          </div>
        </div>
        <div class="form-group row my-3">
          <label for="licenseno" class="col-sm-2 col-form-label text-md-right">Số CMT</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="identityNo" name="identityNo" placeholder="Số giấy tờ"
              formControlName="identityNo" tabindex="4" readonly="readonly" />
          </div>
          <label for="issuedate" class="col-sm-2 col-form-label text-md-right">Ngày cấp </label>
          <div class="col-sm-4">
            <input type="date" class="form-control" [value]="addEditForm.get('issueDate').value  | date:'yyyy-MM-dd'"
              formControlName="issueDate" tabindex="5" readonly="readonly" />
          </div>
        </div>
        <div class="form-group row my-3">
          <label for="issueby" class="col-sm-2 col-form-label text-md-right">Nơi cấp </label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="issueby" name="issueby" placeholder="Nơi cấp" formControlName="issueBy"
              tabindex="6" readonly="readonly" />
          </div>
          <label for="gender" class="col-sm-2 col-form-label text-md-right">Giới tính </label>
          <!-- <div class="col-sm-4">
            <select class="form-control" id="gender" name="gender" formControlName="gender" tabindex="7" readonly="readonly">
              <option selected>&#45;&#45; Chọn giới tính &#45;&#45; </option>
              <option value="1">Nam</option>
              <option value="0">Nữ</option>
            </select>
          </div> -->
          <div class="col-sm-4">
              <input type="text" class="form-control" id="gender" name="gender" [value]="addEditForm.get('issueDate').value === 1?'Nam':'Nữ'" placeholder="Giới tính" formControlName="gender"
                tabindex="7" readonly="readonly" />
            </div>
        </div>

        <div class="form-group row mb-3">
          <label for="phonenumber" class="col-sm-2 col-form-label text-md-right"> Số điện thoại </label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="Số điện thoại"
              formControlName="phoneNumber" tabindex="8" readonly="readonly" />
          </div>
          <label for="nationality" class="col-sm-2 col-form-label text-md-right">Địa chỉ </label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="address" name="address" placeholder="Quốc tịch" formControlName="address"
              tabindex="9" readonly="readonly" />
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="File hình ảnh đính kèm">
      <ng-template ngbTabContent>
        <div class="form-group row my-3">
          <label class="col-sm-12">Chứng minh nhân dân/Thẻ căn cước</label>
          <div class="col-2 offset-2" *ngIf="keyArr.length===0">Chưa có ảnh</div>
          <ng-container *ngFor="let el of keyArr[0]">
              <div class="col-sm-4">
              <a [href]="getUrlImg('CMND') + el" target="_blank" rel="noopener noreferrer">
                <img class="img-show" [src]="getUrlImg('CMND') + el" alt="" />
                <br>
                <div class="text-center">{{el}}</div>
              </a>

            </div>
          </ng-container>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</form>