<form [formGroup]="addEditForm">
    <ngb-tabset>
        <ngb-tab title="Thông tin cá nhân tài xế">
            <ng-template ngbTabContent>
                <input type="text" id="accountid" hidden formControlName="accountId">
                <div class="form-group row my-3">
                    <label for="fullname" class="col-md-2 col-form-label text-md-right">Họ và tên</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Họ tên"
                            formControlName="fullName" tabindex="1" />
                    </div>
                    <label for="nationality" class="col-md-2 col-form-label text-md-right">Quốc tịch </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="nationality" name="nationality" placeholder="Quốc tịch"
                            formControlName="nationality" tabindex="2" />
                    </div>
                </div>
                <div class="form-group row my-3">
                    <label for="dateOfBirth" class="col-md-2 col-form-label text-md-right">Ngày sinh </label>
                    <div class="col-md-4">
                        <input type="date" class="form-control" [value]="addEditForm.get('dateOfBirth').value  | date:'yyyy-MM-dd'"
                            name="dateOfBirth" formControlName="dateOfBirth">
                    </div>
                </div>
                <div class="form-group row my-3">
                    <label for="licenseno" class="col-md-2 col-form-label text-md-right">Số CMT <span class="text-danger" *ngIf="addEditForm.get('identityNo').errors?.required">*</span></label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="identityNo" name="identityNo" placeholder="Số giấy tờ"
                            formControlName="identityNo" tabindex="4" />
                    </div>
                    <label for="issuedate" class="col-md-2 col-form-label text-md-right">Ngày cấp </label>
                    <div class="col-md-4">
                        <input type="date" class="form-control" [value]="addEditForm.get('issueDate').value  | date:'yyyy-MM-dd'"
                            name="issueDate" formControlName="issueDate">
                    </div>
                </div>

                <div class="form-group row my-3">
                    <label for="issueby" class="col-md-2 col-form-label text-md-right">Nơi cấp </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="issueby" name="issueby" placeholder="Nơi cấp"
                            formControlName="issueBy" tabindex="6" />
                    </div>
                    <label for="gender" class="col-md-2 col-form-label text-md-right">Giới tính </label>
                    <div class="col-md-4">
                        <select class="form-control" id="gender" name="gender" formControlName="gender" tabindex="7">
                            <option value="1">Nam</option>
                            <option value="0">Nữ</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="phonenumber" class="col-md-2 col-form-label text-md-right"> Số điện thoại <span class="text-danger" *ngIf="addEditForm.get('phoneNumber').errors?.required">*</span></label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="Số điện thoại"
                            formControlName="phoneNumber" tabindex="8" />
                    </div>
                    <label for="nationality" class="col-md-2 col-form-label text-md-right">Địa chỉ </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="address" name="address" placeholder="Địa chỉ "
                            formControlName="address" tabindex="9" />
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="File đính kèm">
            <ng-template ngbTabContent>
                <div class="form-group row my-3">
                    <label class="col-md-6">Chứng minh nhân dân/ Hộ chiếu/ Thẻ căn cước</label>
                    <div class="col-md-6" formGroupName="attachProperties">
                        <div class="row">
                            <input type="file" accept="image/*" name="CMNDfiles[]" multiple class="custom-file-input form-control"
                                id="inputGroupFile" (change)="selectFile('CMND')" ng2FileSelect [uploader]="uploaderCMND" />
                            <label class="custom-file-label lbl-input" for="inputGroupFile01"><i class="fa fa-file-image-o"
                                    aria-hidden="true"></i></label>
                        </div>
                        <div class="row uploadList" *ngFor="let item of uploaderCMND.queue">
                            <div class="col-md-6 ">{{item.file.name}}</div>

                            <div class="col-sm-9">
                                <div class="progress">
                                    <div class="progress-bar bg-success" [ngStyle]="{'width': item.progress+'%'}"></div>
                                </div>
                            </div>
                            <div class="col-sm-1 closebutton">
                                <button type="button" class="btn btn-danger" (click)="item.remove();groupImg();"><i
                                        class="fa fa-times" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 anhCMND" *ngFor="let item of arrimg2">
                        <img style="width:100%;" src="https://visabaongoc.com/wp-content/uploads/2018/02/quy-dinh-ve-anh-lam-chung-minh-thu-nhan-dan-3-1024x614.jpg"
                            alt="Ảnh CMND, Hộ chiếu, Thẻ căn cước">
                        <p class="imgName">{{item.attachName}}</p>
                    </div>
                </div>

            </ng-template>
        </ngb-tab>
    </ngb-tabset>
    <div class="modal-footer">
        <span class="help-block btn-outline-danger" *ngIf="addEditForm.get('identityNo').errors?.required">
            Số SMND không hợp lệ
        </span>
        <span class="help-block btn-outline-danger" *ngIf="addEditForm.get('phoneNumber').errors?.required">
            Số điện thoại không hợp lệ
        </span>
        <button type="button" class="btn btn-success" [disabled]="!addEditForm.valid" (click)="(Save($event))">Save</button>
    </div>
</form>