<div class="row">
  <div class="col-md-4 my-auto">
    <input type="text" [(ngModel)]="searchParam" name="searchParam" class="form-control input-search-admin" placeholder="Tìm Kiếm"
      (keyup)="txtSearch($event)">
  </div>
  <div class="col-md-1">
    <button class="btn btn-success w-150" (click)="search(searchParam);">Tìm kiếm</button>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-11">
    <small>
      <a href="javascript:void(0)" (click)="table.rowDetail.expandAllRows()">Hiển thị tất cả</a> |
      <a href="javascript:void(0)" (click)="table.rowDetail.collapseAllRows()">Thu gọn</a>
    </small>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-success w-100" (click)="table.rowDetail.collapseAllRows();isAdd = true; open(content);">Add</button>
  </div>
</div>

<!-- ======================================= tblDriver ========================================== -->

<div class="row mt-2" [ngClass]="'d-block'">
  <div class="col">
    <div class="driver-view-title">Lái xe cá nhân</div>
    <ngx-datatable #myTable class='material expandable' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
      [rowHeight]="50" [rows]='rows' [sorts]="[{prop: 'accountId', dir: 'desc'}]" [limit]="50">
      <!-- Row Detail Template -->
      <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div style="padding-left:35px;">
            <div class="container">
              <div class="row">
                <u class="col-6"><i>Thông tin chi tiết:</i></u>
                <div class="col-6 text-right"><i class="fa fa-times btn-close" title="Thu gọn" aria-hidden="true"
                    (click)="table.rowDetail.collapseAllRows()"></i>&nbsp;&nbsp;&nbsp;</div>
              </div>
              <div class="row">
                <strong class="col-2 text-right">- Quốc tịch :</strong>
                <div class="col-3">{{row.nationality}} </div>
                <strong class="col-3 text-right">- Dân tộc: </strong>
                <div class="col-3">{{row.ethnic}}</div>
              </div>
              <div class="row">
                <strong class="col-2 text-right">- Ngày sinh:</strong>
                <div class="col-3">{{row.birthday|date:'dd/MM/yyyy'}}</div>
                <strong class="col-3 text-right">- Email:</strong>
                <div class="col-3">{{row.email}}</div>
              </div>
              <div class="row">
                <strong class="col-2 text-right">- VehicleId:</strong>
                <div class="col-3">{{row.vehicleId}}</div>
                <strong class="col-3 text-right">- Trạng thái:</strong>
                <div class="col-3">
                  <span [ngSwitch]="row.state">
                    <span *ngSwitchCase="0">
                      Chưa đăng ký xe rỗng
                    </span>
                    <span *ngSwitchCase="1">
                      Đơn hàng chờ xác nhận
                    </span>
                    <span *ngSwitchCase="2">
                      Có yêu cầu chưa báo giá
                    </span>
                    <span *ngSwitchCase="3">
                      Báo giá cao, cần xem lại báo giá
                    </span>
                    <span *ngSwitchCase="4">
                      Đang chờ vận chuyển
                    </span>
                    <span *ngSwitchCase="5">
                      Đang chở hàng
                    </span>
                    <span *ngSwitchDefault>
                      Null
                    </span>
                  </span>
                </div>
              </div>
              <div class="row">
                <strong class="col-2 text-right">- Giấy tờ:</strong>
                <div class="col-3">
                  <div class="row">&nbsp;&nbsp;&nbsp;&nbsp;Số: {{row.licenseNo}}, Loại giấy phép: {{row.typeLicenseNo | showTypeLicense}}</div>
                  <div class="row">&nbsp;&nbsp;&nbsp;&nbsp;Ngày cấp: {{ row.issueDate | date:
                    'dd/MM/yyyy'}}. Nơi cấp: {{row.issueBy}}
                  </div>
                </div>
                <strong class="col-3 text-right">- Giấy phép:</strong>
                <div class="col-3">
                  <div class="row">&nbsp;&nbsp;&nbsp;&nbsp;Số: {{row.extLicenseNo}}</div>
                  <div class="row">&nbsp;&nbsp;&nbsp;&nbsp;Ngày cấp: {{row.extIssueDate | date:
                    'dd/MM/yyyy'}}. Nơi cấp: {{row.extIssueBy}}
                  </div>
                </div>
              </div>
              <div class="row">
                <strong class="col-2 text-right">- Nơi cư trú:</strong>
                <div class="col-10">
                  Số hộ khẩu: {{row.address.householdNo}}, {{row.address.wards}}
                </div>
              </div>
              <div class="row">
                <strong class="col-2 text-right">- Thường trú:</strong>
                <div class="col-10">
                  {{row.contactAddress.street}}, {{row.contactAddress.wards}}
                </div>
              </div>
              <div class="row">
                <strong class="col-2 text-right">- Hình ảnh:</strong>
                <div class="container imgView">
                  <div class="row">
                    <p class="col-sm-12"> + Chứng minh nhân dân/ Căn cước:
                      {{(row.attachProperties?.CMND===undefined||row.attachProperties?.CMND.length==0)?'Không có ảnh':''}}</p>
                    <ng-container *ngFor="let el of row.attachProperties?.CMND">
                      <div class="col-sm-4" (click)="openImg(imgView,getUrlImg('CMND'),el)">
                        <img [src]="getUrlImg('CMND') +el" alt="" />
                        <br>
                        <div class="text-center img-name">{{el}}</div>
                      </div>
                    </ng-container>
                  </div>
                  <div class="row">
                    <p class="col-sm-12"> + Ảnh chân dung: 
                        {{(row.attachProperties?.ACD===undefined||row.attachProperties?.ACD.length==0)?'Không có ảnh':''}}</p>
                    <ng-container *ngFor="let el of row.attachProperties?.ACD">
                      <div class="col-sm-4" (click)="openImg(imgView,getUrlImg('ACD'),el)">
                        <img [src]="getUrlImg('ACD') +el" alt="" />
                        <br>
                        <div class="text-center img-name">{{el}}</div>
                      </div>
                    </ng-container>
                  </div>
                  <div class="row">
                    <p class="col-sm-12"> + Giấy phép lái xe:
                        {{(row.attachProperties?.GPLX===undefined||row.attachProperties?.GPLX.length==0)?'Không có ảnh':''}}</p>
                    <ng-container *ngFor="let el of row.attachProperties?.GPLX">
                      <div class="col-sm-4" (click)="openImg(imgView,getUrlImg('GPLX'),el)">
                        <img [src]="getUrlImg('GPLX') +el" alt="" />
                        <br>
                        <div class="text-center img-name">{{el}}</div>
                      </div>
                    </ng-container>
                  </div>
                  <div class="row">
                    <p class="col-sm-12"> + Sổ hộ khẩu: 
                        {{(row.attachProperties?.SHK===undefined||row.attachProperties?.SHK.length==0)?'Không có ảnh':''}}</p>
                    <ng-container *ngFor="let el of row.attachProperties?.SHK">
                      <div class="col-sm-4" (click)="openImg(imgView,getUrlImg('SHK'),el)">
                        <img [src]="getUrlImg('SHK') +el" alt="" />
                        <br>
                        <div class="text-center img-name">{{el}}</div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>
      <!-- Column Templates -->
      <ngx-datatable-column name="Index" [width]="60">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>STT</strong>
          </span>
        </ng-template>
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          {{rowIndex+1}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="accountId" [width]="100">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>ID</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="fullName" [width]="250">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header"><strong>Họ tên</strong></span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span>{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="gender" [width]="60">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header"><strong>Giới tính</strong></span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.gender===0?'Nữ':'Nam'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="phoneNumber" [width]="100">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header"><strong>SĐT</strong></span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="licenseNo" [width]="100">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header"><strong>Số giấy phép</strong></span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="extLicenseNo" [width]="100">
        <ng-template ngx-datatable-header-template>
          <span class="tbl-header"><strong>Số giấy tờ</strong></span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="action" [width]="130" [maxWidth]="130">
        <ng-template let-column="colmun" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Thao tác</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template class="text-center" let-value="value" let-row="row">
          <button type="button" class="btn btn-info button-custom-admin" (click)="toggleExpandRow(row)">
            <i class=" fa fa-eye "></i>
          </button>
          <button type="button" class="btn btn-warning button-custom-admin ml-2" (click)="table.rowDetail.collapseAllRows();isAdd=false; open(content); getDriver(row);">
            <i class="fa fa-edit"></i>
          </button>
          <button type="button" class="btn btn-danger button-custom-admin ml-2" (click)="openSm(del,row.accountId)">
            <i class="fa fa-trash"></i>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
<!-- ======================================= Modal ========================================== -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class=" modal-header">
    <h3 class="modal-title" id="modal-basic-title">{{isAdd?'Thêm tài xế mới':'Chỉnh sửa thông tin tài xế'}}</h3>
    <button class="close" aria-label="Close" (click)="d( 'Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-driver-info [driverViewModel]="_entityDriver" (closeModalEvent)="c('close from Save')" (driverViewModelChange)="isAdd?onAddDriver($event):onEditDriver($event);"></app-driver-info>
  </div>
</ng-template>

<ng-template #del let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title">Thông báo</h3>
    <button type="button" class="close" aria-label="Close" (click)="d( 'Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Xác nhận xóa...?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="d( 'No-delete')">Không</button>
    <button class="btn btn-danger" (click)="c( 'Yes-Delete')">Có</button>
  </div>
</ng-template>

<ng-template #imgView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="text-center">{{imgName}}</div>

    <button type="button" class="close" aria-label="Close" (click)="d( 'Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img class="imgFull" [src]="ulrImgFull" alt="" />
    <br>
    <br>
  </div>
</ng-template>
