<div class="row">
	<div class="col-sm-4 my-auto">
		<input type="text" class="form-control text-input" placeholder="Tìm kiếm" (keyup)='search($event)' />
	</div>
	<div class="col-sm-1">
		<button class="btn btn-success">Tìm kiếm</button>
	</div>
</div>
<div class="row">
	<div class="col text-right">
		<div ngbDropdown class="d-inline-block">
			<button class="btn btn-outline-success" id="dropdownBasic1" ngbDropdownToggle><span class="mdi mdi-eye"></span>
				{{toShow==undefined?'Tất cả':toShow}}</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button class="dropdown-item" (click)="changeShow(5)"><span class="mdi mdi-eye"></span> 5</button>
				<button class="dropdown-item" (click)="changeShow(10)"><span class="mdi mdi-eye"></span> 10</button>
				<button class="dropdown-item" (click)="changeShow(20)"><span class="mdi mdi-eye"></span> 20</button>
				<button class="dropdown-item" (click)="changeShow(50)"><span class="mdi mdi-eye"></span> 50</button>
				<button class="dropdown-item" (click)="changeShow(0)"><span class="mdi mdi-eye"></span> Tất cả</button>
			</div>
		</div>
	</div>
</div>

<div class="row mt-2">
	<div class="col">
		<div class="view-title">Danh sách đơn hàng</div>
		<ngx-datatable #myTable class='material expandable tbl-his' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
		 [rowHeight]="50" [rows]='rows' [sorts]="[{prop: 'hisid', dir: 'desc'}]" [limit]="toShow">

			<ngx-datatable-column name="Index" [width]="60" [maxWidth]="60">
				<ng-template let-column="column" ngx-datatable-header-template>
					<span class="default">
						<strong>STT</strong>
					</span>
				</ng-template>
				<ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
					<strong>{{rowIndex+1}}</strong>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [width]="50">
				<ng-template name="hisid" ngx-datatable-header-template >
					<span>
						<strong>ID giao dịch</strong>
					</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					<strong>{{row.hisid}}</strong>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [width]="50">
				<ng-template ngx-datatable-header-template>
					<span>
						<strong>Account ID</strong>
					</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					<strong>{{row.accountid}}</strong>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [width]="80">
				<ng-template ngx-datatable-header-template>
					<span>
						<strong>Loại giao dịch</strong>
					</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{row.histype}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [width]="80">
				<ng-template ngx-datatable-header-template>
					<span>
						<strong>Nội dung</strong>
					</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{row.hiscontent}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [width]="60">
				<ng-template ngx-datatable-header-template>
					<span>
						<strong>Địa chỉ IP</strong>
					</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					{{row.ip}}
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [width]="80">
				<ng-template ngx-datatable-header-template>
					<span>
						<strong>Ban đầu</strong>
					</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					<strong>{{row.balancebefor|currency:'':'':'0.0'}}  &#273;</strong>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [width]="80">
				<ng-template ngx-datatable-header-template>
					<span>
						<strong>Còn lại</strong>
					</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					<strong>{{row.balanceafter|currency:'':'':'0.0'}}  &#273;</strong>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column [width]="80">
				<ng-template ngx-datatable-header-template>
					<span>
						<strong>Thay đổi</strong>
					</span>
				</ng-template>
				<ng-template let-row="row" ngx-datatable-cell-template>
					<strong><span [ngClass]="(row.balanceafter-row.balancebefor)>0?'mdi mdi-plus':''"></span>{{row.balanceafter-row.balancebefor|currency:'':'':'0.0'}}
						&#273; </strong>
				</ng-template>
			</ngx-datatable-column>
		</ngx-datatable>
	</div>
</div>