<form [formGroup]="addEditForm" novalidate>
    <div class="row">
      <div class="col-md-4 my-3 h-210px">
        <div (click)="openImg(imgView,getUrlImg('AVATA'),keyArr)">
          <img class="imgavt" [src]="getUrlImg('AVATA') + keyArr" alt="" />
          <br>
        <div class="text-center img-name"> <label>Ảnh đại diện: </label> {{keyArr}}</div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row my-3">
          <label for="fullname" class="col-sm-4 col-form-label text-md-right">Họ và tên</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Họ và tên" formControlName="fullName"
              tabindex="1" readonly="readonly" />
          </div>
        </div>
        <div class="row my-3">
          <label for="fullname" class="col-sm-4 col-form-label text-md-right">Email</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="email" name="email" placeholder="Email" formControlName="email"
              tabindex="2" readonly="readonly" />
          </div>
        </div>
        <div class="row my-3">
          <label for="nationality" class="col-sm-4 col-form-label text-md-right">Số điện thoại</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Số điện thoại"
              formControlName="phoneNumber" tabindex="3" readonly="readonly" />
          </div>
        </div>
        <div class="row my-3">
          <label for="dateOfBirth" class="col-sm-4 col-form-label text-md-right">Loại tài khoản</label>
          <div class="col-sm-8">
            <select id="accountType" class="form-control" formControlName="accountType" tabindex="4" readonly="readonly" disabled="true">
              <option value=null disabled selected>&#45;&#45; Chọn loại tài khoản &#45;&#45;</option>
              <option value="5">Bộ phận kinh doanh</option>
              <option value="6">Bộ phận hỗ trợ</option>
              <option value="7">Bộ phận kế toán</option>
              <option value="8">Bộ phận kỹ thuật</option>
              <option value="9">Bộ phận quản lý</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  
    
  </form>
  <ng-template #imgView let-c="close" let-d="dismiss">
    <div class="modal-header">
      <div class="text-center">{{imgName}}</div>
  
      <button type="button" class="close" aria-label="Close" (click)="d('Close')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <img class="imgFull" [src]="ulrImgFull" alt="" />
      <br>
      <br>
    </div>
  </ng-template>
  