<form [formGroup]="addEditForm">
  <!-- <ngb-tabset> -->
  <!-- <ngb-tab title="Thông tin cá nhân tài xế">
      <ng-template ngbTabContent> -->
  <input type="text" id="accountid" hidden formControlName="accountId">
  <div class="form-group row my-3">
    <label for="inputGroupFile01">++++++</label>
    <label for="fullname" class="col-sm-2 col-form-label text-md-right" required>Họ và tên <span class="text-danger">*</span></label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Họ tên" formControlName="fullName"
        tabindex="1" />
    </div>
    <label for="nationality" class="col-sm-2 col-form-label text-md-right">Quốc tịch <span class="text-danger">*</span></label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="nationality" name="nationality" placeholder="Quốc tịch"
        formControlName="nationality" tabindex="2" required />
    </div>
  </div>
  <div class="form-group row my-3">
    <label for="licenseno" class="col-sm-2 col-form-label text-md-right">Số giấy tờ <span class="text-danger">*</span></label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="licenseno" name="licenseno" placeholder="Số giấy tờ" formControlName="licenseNo"
        tabindex="3" required />
    </div>
    <label for="issuedate" class="col-sm-2 col-form-label text-md-right">Ngày cấp <span class="text-danger">*</span></label>
    <div class="col-sm-4">
      <input type="date" [value]="_entity.accountId===0?'':addEditForm.get('issueDate').value |  date:'yyyy-MM-dd'"
        class="form-control" id="issuedate" name="issuedate" formControlName="issueDate" tabindex="4" required />
    </div>
  </div>
  <div class="form-group row my-3">
    <label for="issueby" class="col-sm-2 col-form-label text-md-right">Nơi cấp <span class="text-danger">*</span></label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="issueby" name="issueby" placeholder="Nơi cấp" formControlName="issueBy"
        tabindex="5" required />
    </div>
    <label for="gender" class="col-sm-2 col-form-label text-md-right">Giới tính <span class="text-danger">*</span></label>
    <div class="col-sm-4">
      <select class="form-control" id="gender" name="gender" formControlName="gender" tabindex="6" required>
        <option selected>&#45;&#45; Chọn giới tính &#45;&#45; </option>
        <option value="1">Nam</option>
        <option value="0">Nữ</option>
      </select>
    </div>
  </div>
  <div class="form-group row mb-3">
    <label for="ethnic" class="col-sm-2 col-form-label text-md-right">Dân tộc <span class="text-danger">*</span></label>
    <div class="col-sm-4" required>
      <input type="text" class="form-control" id="ethnic" name="ethnic" placeholder="Dân tộc" formControlName="ethnic"
        tabindex="7" />
    </div>
    <label for="email" class="col-sm-2 col-form-label text-md-right">Email <span class="text-danger">*</span></label>
    <div class="col-sm-4">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email" formControlName="email"
        (focusout)="checkEmailPhone($event,'Email');" required tabindex="8" required />
    </div>
  </div>
  <div class="form-group row mb-3">
    <label for="phonenumber" class="col-sm-2 col-form-label text-md-right"> Số điện thoại <span class="text-danger">*</span></label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="Số điện thoại"
        (focusout)="checkEmailPhone($event, 'Số điện thoại');" formControlName="phoneNumber" required tabindex="9"
        required />
    </div>
  </div>
  <hr class="hr-border-color mb-1">
  <div formGroupName="address">Nơi cư trú
    <div class="form-group row mb-3">
      <label for="addrcountry" class="col-sm-2 col-form-label text-md-right">Quốc gia <span class="text-danger">*</span></label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="addrcountry" name="addrcountry" placeholder="Quốc gia"
          formControlName="country" tabindex="10" />
      </div>
      <label for="addrprovince" class="col-sm-2 col-form-label text-md-right">Tỉnh/Thành phố <span class="text-danger">*</span></label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="addrprovince" name="addrprovince" placeholder="Tỉnh/Thành phố"
          formControlName="province" tabindex="11" />
      </div>
    </div>
    <div class="form-group row mb-3">
      <label for="addrdistrict" class="col-sm-2 col-form-label text-md-right">Quận/ Huyện <span class="text-danger">*</span></label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="addrdistrict" name="addrdistrict" placeholder="Quận/ Huyện"
          formControlName="district" tabindex="12" />
      </div>
      <label for="addrwards" class="col-sm-2 col-form-label text-md-right">Phường/ Xã <span class="text-danger">*</span></label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="addrwards" name="addrwards" placeholder="Phường/ Xã"
          formControlName="wards" tabindex="13" />
      </div>
    </div>
    <div class="form-group row mb-3">
      <label for="addrhouseholdno" class="col-sm-2 col-form-label text-md-right">Số hộ khẩu <span class="text-danger">*</span></label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="addrhouseholdno" name="addrhouseholdno" placeholder="Sổ hộ khẩu"
          formControlName="householdNo" tabindex="14" />
      </div>
    </div>
  </div>
  <hr class="hr-border-color mb-1">
  <div formGroupName="contactAddress">Chỗ ở hiện tại
    <div class="form-group row mb-3">
      <label for="contactcountry" class="col-sm-2 col-form-label text-md-right">Quốc gia <span class="text-danger">*</span></label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="contactcountry" name="contactcountry" placeholder="Quốc gia"
          formControlName="country" tabindex="15" required />
      </div>
      <label for="contactprovince" class="col-sm-2 col-form-label text-md-right">Tỉnh/Thành phố <span class="text-danger">*</span></label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="contactprovince" name="contactprovince" placeholder="Tỉnh/Thành phố"
          formControlName="province" tabindex="16" required />
      </div>
    </div>
    <div class="form-group row mb-3">
      <label for="contactdistrict" class="col-sm-2 col-form-label text-md-right">Quận/ Huyện <span class="text-danger">*</span></label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="contactdistrict" name="contactdistrict" placeholder="Quận/ Huyện"
          formControlName="district" tabindex="17" required />
      </div>
      <label for="contactwards" class="col-sm-2 col-form-label text-md-right">Phường/ Xã <span class="text-danger">*</span></label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="contactwards" name="contactwards" placeholder="Phường/ Xã"
          formControlName="wards" tabindex="18" required />
      </div>
    </div>
    <div class="form-group row mb-3">
      <label for="contactstreet" class="col-sm-2 col-form-label text-md-right">Số nhà/ đường <span class="text-danger">*</span></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="contactstreet" name="contactstreet" placeholder="Số nhà/ đường"
          formControlName="street" tabindex="19" />
      </div>
    </div>
  </div>
  <hr class="hr-border-color mb-1">
  <!-- </ng-template>
    </ngb-tab>
    <ngb-tab title="Giấy phép">
      <ng-template ngbTabContent> -->
  <div>Thông tin giấy phép</div>
  <div class="form-group row my-3">
    <label for="typelicenseno" class="col-sm-2 col-form-label text-md-right" required>Loại giấy phép</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="typelicenseno" name="typelicenseno" placeholder="Loại giấy phép "
        formControlName="typeLicenseno" tabindex="20" required>
    </div>
    <label for="extlicenseno" class="col-sm-2 col-form-label text-md-right">Số giấy phép </label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="extlicenseno" name="extlicenseno" placeholder="Số giấy phép "
        formControlName="extLicenseNo" tabindex="21" required>
    </div>
  </div>
  <div class="form-group row mb-3">
    <label for="extissuedate" class="col-sm-2 col-form-label text-md-right">Ngày cấp</label>
    <div class="col-sm-4">
      <input type="date" [value]="_entity.accountId===0?'':addEditForm.get('extIssueDate').value |  date:'yyyy-MM-dd'"
        class="form-control" id="extissuedate" name="extissuedate" formControlName="extIssueDate" required tabindex="22"
        required />
    </div>
    <label for="extissueby" class="col-sm-2 col-form-label text-md-right">Nơi cấp </label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="extissueby" name="extissueby" placeholder="Nơi cấp" formControlName="extIssueBy"
        tabindex="23" required>
    </div>
  </div>
  <hr class="hr-border-color mb-1">
  <div>Properties</div>
  <div class="form-group row my-3">
    <label for="properties" class="col-sm-2 col-form-label text-md-right">Properties</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="properties" name="properties" placeholder="Properties"
        formControlName="properties" tabindex="24">
    </div>
    <label for="vehicleid" class="col-sm-2 col-form-label text-md-right">Vehicleid</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="vehicleid" name="vehicleid" placeholder="Vehicleid" formControlName="vehicleId"
        tabindex="25">
    </div>
  </div>
  <div class="form-group row mb-3">
    <label for="state" class="col-sm-2 col-form-label text-md-right">Trạng thái</label>
    <div class="col-sm-4">
      <select class="form-control" id="state" name="state" formControlName="state" tabindex="26">
        <option value="0" selected>Chưa đăng ký xe rỗng</option>
        <option value="1">Đơn hàng chờ xác nhận</option>
        <option value="2">Có yêu cầu chưa báo giá</option>
        <option value="3">Báo giá cao, cần xem lại báo giá</option>
        <option value="4">Đang chờ vận chuyển</option>
        <option value="5">Đang chở hàng</option>
      </select>
    </div>
    <label for="birthday" class="col-sm-2 col-form-label text-md-right">Ngày sinh </label>
    <div class="col-sm-4">
      <input type="date" class="form-control" id="birthday" name="birthday" placeholder="Ngày sinh " formControlName="birthday"
        tabindex="27">
    </div>
  </div>
  <hr class="hr-border-color mb-1">
  <!-- </ng-template>
    </ngb-tab>
    <ngb-tab title="Hồ sơ đính kèm">
      <ng-template ngbTabContent> -->
  <div class="form-group row my-3">
    <label class="col-sm-6">Chứng minh nhân dân/ Hộ chiếu/ Thẻ căn cước</label>
    <div class="col-sm-6" formGroupName="attachProperties">
      <!-- <input type="file" accept="image/*" name="CMNDfiles[]" multiple class="form-control" id="inputGroupFile01" formArrayName="CMND" (change)="selectFile($event,'CMND')" /> -->
      <div class="row">
        <input type="file" accept="image/*" name="CMNDfiles[]" multiple class="custom-file-input form-control" id="inputGroupFile01"
          (change)="selectFile($event,'CMND')" ng2FileSelect [uploader]="uploader" tabindex="28" />
        <label class="custom-file-label lbl-input" for="inputGroupFile01"><i class="fa fa-file-image-o" aria-hidden="true"></i></label>
      </div>
      <div class="row uploadList" *ngFor="let item of uploader.queue">
        <div class="col-sm-6">{{item.file.name}}</div>
        <div class="col-sm-4">
          <div class="progress">
            <div class="progress-bar bg-success" [ngStyle]="{'width': item.progress+'%'}"></div>
          </div>
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-danger" (click)="item.remove()"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>


  <div class="form-group row my-3" formGroupName="attachProperties">
    <label class="col-sm-6">ACD (chụp 2 mặt của giấy tờ)</label>
    <div class="col-sm-6">
      <input type="file" accept="image/*" name="files[]" multiple class="form-control" id="inputGroupFile02" (change)="selectFile($event,'ACD')"
        tabindex="29" />
    </div>
  </div>
  <div class="form-group row my-3" formGroupName="attachProperties">
    <label class="col-sm-6">Giấy phép lái xe (chụp 2 mặt giấy phép)</label>
    <div class="col-sm-6">
      <input type="file" accept="image/*" name="files[]" multiple class="form-control" id="inputGroupFile03" (change)="selectFile($event,'GPLX')"
        tabindex="30" />
    </div>
  </div>
  <div class="form-group row my-3" formGroupName="attachProperties">
    <label class="col-sm-6">Sổ hộ khẩu (ảnh chụp trang bìa và các trang có liên quan)</label>
    <div class="col-sm-6">
      <input type="file" accept="image/*" name="files[]" multiple class="form-control" id="inputGroupFile04" (change)="selectFile($event,'SHK')"
        tabindex="31" />
    </div>
  </div>
  <!-- </ng-template>
    </ngb-tab> -->
  <!-- </ngb-tabset> -->
  <div class="modal-footer">
    <button class="btn btn-success" (click)="(Save($event))" tabindex="32">Save</button>
    <!-- [disabled]="addEditForm.invalid" -->
  </div>
</form>
