<form [formGroup]="reconfirmForm" novalidate>
  <ngb-tabset (tabChange)="isChangeTab()">
    <ngb-tab title="Rút tiền">
      <ng-template ngbTabContent>
        <input type="text" id="accountid" hidden>
        <div class="form-group row my-3">
          <label for="" class="col-sm-2 col-form-label text-md-right">Mã người dùng </label>
          <div class="col-sm-4">
            <input type="text" class="form-control" value="{{Arr[0]?.accountId}}" placeholder="Mã người dùng" tabindex="1"
              readonly="readonly" />
          </div>
          <label for="" class="col-sm-2 col-form-label text-md-right">Tên người dùng </label>
          <div class="col-sm-4">
            <input type="text" class="form-control" value="{{Arr[0]?.fullName}}" placeholder="Tên người dùng" tabindex="2"
              readonly="readonly" />
          </div>
        </div>
        <div class="form-group row my-3">
          <label for="" class="col-sm-2 col-form-label text-md-right">Số tài khoản </label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Số tài khoản ngân hàng" formControlName="acctNumber"
              tabindex="3" />
          </div>
          <label for="" class="col-sm-2 col-form-label text-md-right">Ngân hàng</label>
          <div class="col-sm-4">
            <!-- <select class="form-control" (change)="bankChanged($event)">
              <option selected disabled value=null>&#45;&#45; Chọn ngân hàng&#45;&#45; </option>
              <option *ngFor="let i of listBank" [value]="i.transferId">{{i.bankName}} --- {{i.fee}}VNĐ</option>
            </select> -->
            <div class="container">
              <div class="row">
                <div class="col-sm-9 btn btn-outline-primary dropdown-toggle text-left" data-toggle="dropdown">
                  {{bankName}}
                  <span class="caret"></span>
                </div>
                <ul class="dropdown-menu">
                  <li class="dropdown-item px-2" *ngFor="let i of listBank" (click)="bankChange(i)">
                    <a class="row bank-list link">
                      <div class="col-sm-8">
                        {{i.bankName}}</div>
                      <div class="col-sm-4">{{i.fee|currency:'':'':'0.0'}}</div>
                    </a>
                  </li>
                </ul>
                <div class="col-sm-3">
                  <a class="btn btn-success btn-block" [href]="linkBanking" target="_blank" (click)="changeShow()"
                    [hidden]="linkBanking.length==0" title="Link InternetBanking"><i class="mdi mdi-bank"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row my-3">
          <label for="" class="col-sm-2 col-form-label text-md-right">Số tiền</label>
          <div class="col-sm-4">
            <input type="number" class="form-control" placeholder="Số tiền rút" tabindex="5" formControlName="transferAmount" />
          </div>
          <label for="" class="col-sm-2 col-form-label text-md-right">Phí rút tiền</label>
          <div class="col-sm-4">
            <input type="number" class="form-control" [value]="fee==null?'0':fee" placeholder="Phí rút tiền thực tế"
              tabindex="6" disabled />
          </div>
        </div>
        <div class="form-group row my-3">
          <label for="" class="col-sm-2 col-form-label text-md-right">Nội dung chuyển tiền</label>
          <div class="col-sm-10">
            <textarea class="form-control" (keyup)="changeWithDrawalContent($event)" name="content" id="content" rows="3"
              placeholder="Nhập nội dung chuyển tiền" tabindex="7"></textarea>
          </div>
        </div>

      </ng-template>
    </ngb-tab>
    <ngb-tab title="Nạp tiền">
      <ng-template ngbTabContent>
        <input type="text" id="accountid" hidden>
        <div class="form-group row my-3">
          <label for="" class="col-sm-2 col-form-label text-md-right">Mã tài khoản</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" value="{{Arr[0]?.accountId}}" placeholder="Mã người dùng" tabindex="1"
              readonly="readonly" />
          </div>
          <label for="" class="col-sm-2 col-form-label text-md-right">Tên người dùng</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" value="{{Arr[0]?.fullName}}" placeholder="Tên người dùng" tabindex="2"
              readonly="readonly" />
          </div>
        </div>

        <div class="form-group row my-3">
          <label for="" class="col-sm-2 col-form-label text-md-right">Số tiền</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" placeholder="Số tiền nộp (VNĐ)" tabindex="5" formControlName="transferAmount" />
          </div>
        </div>
        <!-- <div class="form-group row my-3">
          <label for="" class="col-sm-2 col-form-label text-md-right">Nội dung</label>
          <div class="col-sm-10">
            <textarea type="text" class="form-control" rows="3" tabindex="5" [value]="hisContent" (input)="hisContent = $event.target.value"
              placeholder="Nhập nội dung nộp tiền"></textarea>
          </div>
        </div> -->
        <div class="form-group row my-3">
          <label for="" class="col-sm-2 col-form-label text-md-right">Mã xác nhận</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="inputCode" placeholder="Mã xác nhận giao dịch"
              tabindex="9" />
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <div class="modal-footer">
    <!-- {{codeTranferFromSV}} -->
    <button type="button" class="btn btn-success" (click)="withdrawal()" *ngIf="isWithdrawal" [disabled]="!reconfirmForm.valid">Rút
      tiền</button>
    <button type="button" class="btn btn-success" (click)="payment()" *ngIf="!isWithdrawal">Nộp tiền</button>
  </div>
</form>
