#password{
    border-style: none;
    background: none;
}

.view-title{
    align-content: center;
    align-items: center;
    display: flex;
    padding: 8px 20px;
    color: #000000a4;
    background-color: #DDDDDD;
    color: black;
}

strong{
    font-weight: 700;
    color: black;
}