.quotation {
    align-content: center;
    align-items: center;
    display: flex;
    padding: 8px 20px;
    color: #000000a4;
    background-color: #DDDDDD;
    font-weight: 600;
}


.container .row {
    padding-bottom: 10px;
}

.cangiua{
    width: 100%;
    display: block;
    text-align: center;
}