<div class="row">
  <div class="col-md-4 my-auto">
    <input type="text" [(ngModel)]="searchObject.searchParam" name="searchParam" class="form-control input-search-admin"
      (keyup)="searchByPressEnter($event)" placeholder="Nhập Mã báo giá">
  </div>
  <div class="col-md-1">
    <button class="btn btn-success w-100" (click)="search(searchObject)" placement="bottom" ngbTooltip="Tìm kiếm"><i
        class="fa fa-search" aria-hidden="true"></i></button>
  </div>
</div>

<!-- ======================================= Quotation ========================================== -->

<div class="row mt-2" [ngClass]="'d-block'">
  <div class="col">
    <div class="tbl-list-view-title">Danh sách báo giá</div>
    <ngx-datatable #myTable class='material expandable' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
      [rowHeight]="50" [rows]='listQuotation' [sorts]="[{prop: 'quotationId', dir: 'desc'}]" [limit]="50">
      <!-- Row Detail Template -->
      <ngx-datatable-row-detail [rowHeight]="350" #myDetailRow>
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div style="padding-left:35px;">
            <div class="container">
              <u><i>Thông tin chi tiết:</i></u>
              <div class="row mt-3">
                <!-- <span class="col-2 text-right">- Mã đơn hàng:</span>
                <div class="col-2">{{row.orderId}} </div> -->
                <span class="col-2 text-right">- Mã phương tiện: </span>
                <div class="col-2">{{row.vehicleId}}</div>
                <span class="col-2 text-right">- Mã chủ xe: </span>
                <div class="col-2">{{row.driverId}}</div>
              </div>
              <div class="row"></div>
              <div class="row">
                <span class="col-3 text-right">- Thuế VAT:</span>
                <div class="col-3">{{row.vat}}</div>
                <span class="col-3 text-right">- Tiền hoa hồng:</span>
                <div class="col-3">{{row.commission}}</div>
              </div>
              <div class="row">
                <span class="col-3 text-right">- Tiền phạt:</span>
                <div class="col-3">{{row.finesAmount}}</div>
                <span class="col-3 text-right">- Phạt đến chậm:</span>
                <div class="col-3">{{row.delayPrice}}</div>
              </div>
              <div class="row">
                <span class="col-3 text-right">- Tiền lưu xe lúc nhận:</span>
                <div class="col-3">{{row.receivePrice}}</div>
                <span class="col-3 text-right">- Tiền lưu xe lúc trả:</span>
                <div class="col-3">{{row.deliverPrice}}</div>
              </div>
              <div class="row">
                <span class="col-3 text-right">- Thuế GTGT của chủ xe:</span>
                <div class="col-3">{{row.driverVatTax}}</div>
                <span class="col-3 text-right">- Thuế thu nhập cá nhân:</span>
                <div class="col-3">{{row.perVatTax}}</div>
              </div>
              <div class="row">
                <span class="col-3 text-right">- Tiền còn lại:</span>
                <div class="col-3">{{row.reserveDriver}}</div>
                <span class="col-3 text-right">- Tiền thanh toán:</span>
                <div class="col-3">{{row.reserveOrder}}</div>
              </div>
              <div class="row">
                <span class="col-3 text-right">- Thời gian bắt đầu bốc hàng:</span>
                <div class="col-3">{{row.receiveTime| date:'dd-MM-yyyy'}}</div>
                <span class="col-3 text-right">- Thời gian kết thúc bốc hàng:</span>
                <div class="col-3">{{row.toReceiveTime| date:'dd-MM-yyyy'}}</div>
              </div>
              <div class="row">
                <span class="col-3 text-right">- Thời gian bắt đầu giao hàng:</span>
                <div class="col-3">{{row.deliverTime| date:'dd-MM-yyyy'}}</div>
                <span class="col-3 text-right">- Thời gian kết thúc giao hàng:</span>
                <div class="col-3">{{row.toDeliverTime| date:'dd-MM-yyyy'}}</div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>
      <!-- Column Templates -->

      <ngx-datatable-column name="Index" [minWidth]="60" [maxWidth]="60">
        <ng-template let-column="column" ngx-datatable-header-template>
          <strong class="tbl-header">STT</strong>
        </ng-template>
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <span>{{rowIndex+1}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="quotationId" [width]="80">
        <ng-template ngx-datatable-header-template>
          <strong class="tbl-header">Mã báo giá</strong>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span>{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="orderId" [width]="80">
        <ng-template ngx-datatable-header-template>
          <strong class="tbl-header">
            Mã đơn hàng
          </strong>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span class="">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="price" [width]="80">
        <ng-template ngx-datatable-header-template>
          <strong class="tbl-header">Giá vận chuyển</strong>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span class="">{{value|currency:'':'':'0.0'}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="state" [width]="250">
        <ng-template ngx-datatable-header-template>
          <strong class="tbl-header">Trạng thái</strong>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span class="" style="font-size: 12px; margin-left:-12px;">{{getStateQuotation(value)}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="numQuotation" [width]="80">
        <ng-template ngx-datatable-header-template>
          <strong class="tbl-header">Số lần báo giá</strong>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span class="">{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [minWidth]="70" [maxWidth]="70">
        <ng-template ngx-datatable-header-template>
          <strong class="tbl-header">Xem</strong>
        </ng-template>
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <button type="button" class="btn btn-success button-custom-admin" (click)="toggleExpandRow(row)" placement="left"
            ngbTooltip="Xem chi tiết">
            <i class=" fa fa-eye "></i>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
