<div class="row mt-2">
  <div class="col-md-4 my-auto">
    <input type="text" [(ngModel)]="searchParam.searchParam" #searchData name="searchParam" class="form-control input-search-admin"
      placeholder="Nhập SĐT, Tên hoặc Email" (keyup)="searchByPressEnter($event)">
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-success w-100" (click)="search(searchParam)" placement="bottom" ngbTooltip="Tìm kiếm"><i
        class="fa fa-search" aria-hidden="true"></i></button>
  </div>
</div>

<!-- ======================================= tblBusiness ========================================== -->

<div class="row mt-2" [ngClass]="'d-block'">
  <div class="col">
    <div class="view-title">Danh sách nhân viên Bộ phận Kinh doanh</div>
    <ngx-datatable #myTable class='material expandable' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
    [rowHeight]="50" [rows]='data' [sorts]="[{prop: 'accountId', dir: 'desc'}]" [limit]="50">
    <!-- Column Templates -->
    <ngx-datatable-column name="Index" [width]="50">
      <ng-template let-column="column" ngx-datatable-header-template>
        <span class="tbl-header">
          <strong>STT</strong>
        </span>
      </ng-template>
      <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
        {{rowIndex+1}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="accountId" [width]="50">
      <ng-template ngx-datatable-header-template>
        <span class="tbl-header">
          <strong>ID</strong>
        </span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="email" [width]="150">
      <ng-template ngx-datatable-header-template>
        <span class="tbl-header"><strong>Email</strong></span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="fullName" [width]="150">
      <ng-template ngx-datatable-header-template>
        <span class="tbl-header"><strong>Họ tên</strong></span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="phoneNumber" [width]="100">
      <ng-template ngx-datatable-header-template>
          <span class="tbl-header"><strong>Số điện thoại</strong></span>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value">
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="action" [width]="130" [maxWidth]="130">
      <ng-template let-column="colmun" ngx-datatable-header-template>
        <span class="tbl-header">
          <strong>Thao tác</strong>
        </span>
      </ng-template>
      <ng-template ngx-datatable-cell-template class="text-center" let-value="value" let-row="row">
        <button type="button" class="btn btn-info button-custom-admin" (click)="getAccount(row);" placement="bottom"
          ngbTooltip="Xem chi tiết">
          <i class=" fa fa-eye "></i>
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  </div>
</div>
<!-- ======================================= Modal ========================================== -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class=" modal-header">
    <h3 class="modal-title" id="modal-basic-title">Thông tin nhân viên Kinh doanh</h3>
    <button class="close" aria-label="Close" (click)="d( 'Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-businesspopup [_entityAccount]="accountData" [isShowAvatar]="isSetAvatar" (closeForm)="c('close from Save')"></app-businesspopup>
  </div>
</ng-template>

<ng-template #del let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title">Thông báo</h3>
    <button type="button" class="close" aria-label="Close" (click)="d( 'Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Xác nhận xóa...?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="d( 'No-delete')">Không</button>
    <button class="btn btn-danger" (click)="c( 'Yes-Delete')">Có</button>
  </div>
</ng-template>
