<div class="row">
  <div class="col-md-4 my-auto">
    <input type="text" name="searchParam" class="form-control input-search-admin" placeholder="Tìm Kiếm">
  </div>
  <div class="col-md-1">
    <button class="btn btn-success w-150">Tìm kiếm</button>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-10"></div>
  <div class="col-md-2">
      <button type="button" class="btn btn-success w-100" (click)="open(content);">Thêm tài khoản</button>
  </div>
</div>

<!-- ======================================= tblBusiness ========================================== -->

<div class="row mt-2" [ngClass]="'d-block'">
  <div class="col">
    <div class="view-title">Danh sách nhân viên Bộ phận kinh doanh</div>
    <ngx-datatable #myTable class='material expandable' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
      [rowHeight]="50" [rows]='rows' [sorts]="[{prop: 'accountId', dir: 'desc'}]" [limit]="50">
      <!-- Column Templates -->
      <ngx-datatable-column name="Index" [width]="60">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="default">
            <strong>STT</strong>
          </span>
        </ng-template>
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <strong>{{rowIndex+1}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="accountId" [width]="100">
        <ng-template ngx-datatable-header-template>
          <span>
            <strong>ID</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <strong>{{value}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="userName" [width]="80">
        <ng-template ngx-datatable-header-template>
          <span>Tên đăng nhập</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          <strong>{{value}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="fullName" [width]="150">
        <ng-template ngx-datatable-header-template>
          <span>Họ tên</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="gender" [width]="100">
        <ng-template ngx-datatable-header-template>
          Giới tính
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
          {{value ==1?'Nam':'Nữ'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="dateOfBirth" [width]="100">
        <ng-template ngx-datatable-header-template>
          Ngày sinh
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value">
          {{value | date}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="action" [width]="130" [maxWidth]="130">
        <ng-template let-column="colmun" ngx-datatable-header-template>
          <span>
            <strong>Thao tác</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template class="text-center" let-value="value" let-row="row">
          <button type="button" class="btn btn-info button-custom-admin" (click)="open(content);">
            <i class=" fa fa-eye "></i>
          </button>
          <button type="button" class="btn btn-warning button-custom-admin ml-2" (click)="open(content);">
            <i class="fa fa-edit"></i>
          </button>
          <button type="button" class="btn btn-danger button-custom-admin ml-2" (click)="openSm(del,row.accountId)">
            <i class="fa fa-trash"></i>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
<!-- ======================================= Modal ========================================== -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class=" modal-header">
    <h3 class="modal-title" id="modal-basic-title">Thêm nhân viên kinh doanh</h3>
    <button class="close" aria-label="Close" (click)="d( 'Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-businesspopup></app-businesspopup>
  </div>
</ng-template>


<pre>{{closeResult}}</pre>

<ng-template #del let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title">Thông báo</h3>
    <button type="button" class="close" aria-label="Close" (click)="d( 'Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Xác nhận xóa...?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="d( 'No-delete')">Không</button>
    <button class="btn btn-danger" (click)="c( 'Yes-Delete')">Có</button>
  </div>
</ng-template>