@import "../../../assets/admin/scss/colors/green.scss";
@import '../../../assets/admin/scss/variable.scss';
@import '../../../assets/admin/scss/app.scss';
@import '../../../assets/admin/scss/pages.scss';
@import '../../../assets/admin/scss/sidebar.scss';
@import '../../../assets/admin/scss/icons/font-awesome/css/font-awesome.min.css';
@import '../../../assets/admin/scss/icons/simple-line-icons/css/simple-line-icons.css';
@import '../../../assets/admin/scss/icons/weather-icons/css/weather-icons.min.css';
@import '../../../assets/admin/scss/icons/linea-icons/linea.css';
@import '../../../assets/admin/scss/icons/themify-icons/themify-icons.css';
@import '../../../assets/admin/scss/icons/flag-icon-css/flag-icon.min.css';
@import "../../../assets/admin/scss/icons/material-design-iconic-font/css/materialdesignicons.min.css";
@import '../../../assets/admin/scss/widgets.scss';
@import '../../../assets/admin/scss/grid.scss';
@import '../../../assets/admin/scss/responsive.scss';
@import '../../../assets/admin/scss/spinners.css';
@import '../../../assets/admin/scss/animate.css';
.admin-main-container {
    .input-search-admin {
        padding: 5px;
        font-size: 14px;
        display: block;
        background: transparent;
        border: none;
        border-bottom: 1px solid #5264AE;
        &:focus {
            box-shadow: none;
        }
    }
    .button-custom-admin {
        padding: 0px 5px;
    }
}