<form [formGroup]="changeAvatar" novalidate>
  <ngb-tabset>
    <ngb-tab title="Thay đổi ảnh đại diện">
      <ng-template ngbTabContent>
        <div class="form-group row my-3">
          <label class="col-sm-12">Chọn ảnh đại diện</label>
          <div class="col-sm-12" formGroupName="fileAvatar">
            <input type="file" multiple class="form-control" id="inputGroupFile01" (change)="selectFile($event,'CMND')" />
          </div>
        </div>
        <div class="form-group row my-3">
          <label class="col-sm-12">Ảnh đại diện</label>
          <div class="col-2 offset-2" *ngIf="keyArr.length===0">Chưa có ảnh</div>
          <ng-container *ngFor="let el of keyArr[0]">
            <div class="col-sm-12">
              <a [href]="getUrlImg('AVATA') + el" target="_blank" rel="noopener noreferrer">
                <img class="img-show" [src]="getUrlImg('AVATA') + el" alt="" />
                <br>
                <div class="text-center">{{el}}</div>
              </a>

            </div>
          </ng-container>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" [disabled]="isDisabled" (click)="saveAvatar()">Save</button>
  </div>
</form>