<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <!-- ============================================================== -->
    <!-- Logo -->
    <!-- ============================================================== -->
    <div class="navbar-header">
      <a class="navbar-brand"  routerLink="/admin/main">
        <!-- Logo icon -->
        <b>
          <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
          <!-- Dark Logo icon -->
          <img src="assets/admin/images/logo-icon.png" alt="homepage" class="dark-logo d-md-none" />
        </b>
        <!--End Logo icon -->
        <!-- Logo text -->
        <span>
          <!-- dark Logo text -->
          <img src="assets/admin/images/logoFinal1.png" alt="homepage" class="dark-logo" />
        </span>
      </a>
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <div class="navbar-collapse">
      <!-- ============================================================== -->
      <!-- toggle and nav items -->
      <!-- ============================================================== -->
      <ul class="navbar-nav mr-auto mt-md-0 ">
        <!-- This is  -->
        <li class="nav-item"> <a class="nav-link nav-toggler hidden-lg-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i
              class="ti-menu"></i></a> </li>
      </ul>
      <!-- ============================================================== -->
      <!-- User profile and search -->
      <!-- ============================================================== -->
      <ul class="navbar-nav my-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img [src]="urlFull" alt="user" class="profile-pic" />
          </a>
          <div class="dropdown-menu dropdown-menu-right animated flipInY">
            <ul class="dropdown-user">
              <li>
                <div class="dw-user-box row">
                  <div class="u-img"><img [src]="getUrlImg('AVATA')" alt="user"></div>
                  <div class="u-text">
                    <h4>{{this.currentUser[0].fullName}}</h4>
                    <p class="text-muted">{{this.currentUser[0].accountCode}}</p>
                    <a routerLink="userinfo" class="btn btn-rounded btn-danger btn-sm"><i class="ti-user"></i> Thông
                      tin cá nhân</a>
                  </div>
                </div>
              </li>
              <li role="separator" class="divider"></li>
              <!-- <li><a routerLink="balance"><i class="ti-wallet"></i> Số dư tài khoản</a></li>
              <li><a routerLink="mailbox"><i class="ti-email"></i> Hộp thư</a></li> -->
              <li role="separator" class="divider"></li>
              <li> <a routerLink="changepw">
                  <i class="fa fa-key"></i> &nbsp; Đổi mật khẩu</a> </li>
              <!-- <li><a routerLink="setting"><i class="ti-settings"></i> Cài đặt</a></li> -->

              <li role="separator" class="divider"></li>
              <li (click)="logout(del)"><a class="link"><i class="fa fa-power-off"></i> &nbsp; Đăng xuất</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
<ng-template #del let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title">Đăng xuất</h3>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Bạn có muốn kết thúc phiên làm việc không??</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="d( 'No-delete')">Không</button>
    <button class="btn btn-danger" (click)="c( 'Yes-Delete')">Có</button>
  </div>
</ng-template>
