<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li [class.active]="showMenu === 'component'">
          <a class="has-arrow" href="javascript:void(0)" (click)="addExpandClass('component')" aria-expanded="false">
            <i class="mdi mdi-bullseye"></i>
            <span class="hide-menu">Thông tin người dùng</span>
          </a>
          <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'component'">
            <li>
              <a routerLink="vehicleowner" [routerLinkActive]="['router-link-active']">Chủ phương tiện</a>
            </li>
            <li>
              <a routerLink="driver" [routerLinkActive]="['router-link-active']">Lái xe</a>
            </li>
            <li>
              <a routerLink="goodsowner" [routerLinkActive]="['router-link-active']">Chủ hàng</a>
            </li>
            <li>
              <a routerLink="vehicle" [routerLinkActive]="['router-link-active']">Phương tiện</a>
            </li>
          </ul>
        </li>
        <li [class.active]="showMenu === 'component2'">
          <a class="has-arrow" href="javascript:void(0)" (click)="addExpandClass('component2')" aria-expanded="false">
            <i class="mdi mdi-credit-card-multiple"></i>
            <span class="hide-menu">Thanh toán</span>
          </a>
          <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'component2'">
            <!-- <li>
                <a routerLink="balancehis" [routerLinkActive]="['router-link-active']">Lịch sử giao dịch</a>
            </li>
            <li>
              <a routerLink="balance" [routerLinkActive]="['router-link-active']">Bảng cân đối</a>
            </li>  -->
            <li>
              <a routerLink="account-exchange" [routerLinkActive]="['router-link-active']">Thanh toán chuyển khoản</a>
            </li>

            <li>
              <a routerLink="orderpaid" [routerLinkActive]="['router-link-active']">Thanh toán đơn hàng</a>
            </li>

          </ul>
        </li>
        <li [class.active]="showMenu === 'component3'">
          <a class="has-arrow" href="javascript:void(0)" (click)="addExpandClass('component3')" aria-expanded="false">
            <i class="mdi mdi-reorder-horizontal"></i>
            <span>Đơn hàng</span>
          </a>
          <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'component3'">
            <!-- <li>
              <a routerLink="rpq" [routerLinkActive]="['router-link-active']">Yêu cầu báo giá</a>
            </li> -->
            <li>
              <a routerLink="quotation" [routerLinkActive]="['router-link-active']">Báo giá</a>
            </li>
            <li>
              <a routerLink="orderlist" [routerLinkActive]="['router-link-active']">Đơn hàng chi tiết </a>
            </li>
            <li>
              <a routerLink="insuranceorder" [routerLinkActive]="['router-link-active']">Đơn hàng bảo hiểm hàng hóa</a>
            </li>
          </ul>
        </li>
        <li [class.active]="showMenu === 'component4'">
          <a class="has-arrow" href="javascript:void(0)" (click)="addExpandClass('component4')" aria-expanded="false">
            <i class="mdi mdi-account-circle"></i>
            <span>Bộ phận & phân quyền</span>
          </a>
          <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'component4'">
            <li>
              <a routerLink="account" [routerLinkActive]="['router-link-active']">Tài khoản</a>
            </li>
            <li>
              <a routerLink="business" [routerLinkActive]="['router-link-active']">BP Kinh doanh</a>
            </li>
            <li>
              <a routerLink="support" [routerLinkActive]="['router-link-active']">BP Hỗ trợ</a>
            </li>
            <li>
              <a routerLink="accountant" [routerLinkActive]="['router-link-active']">BP Kế toán</a>
            </li>
            <li>
              <a routerLink="technical" [routerLinkActive]="['router-link-active']">BP Kĩ thuật</a>
            </li>
            <li>
              <a routerLink="manage" [routerLinkActive]="['router-link-active']">BP Quản lý</a>
            </li>
          </ul>
        </li>
       
        <li [class.active]="showMenu === 'component6'">
          <a class="has-arrow" href="javascript:void(0)" (click)="addExpandClass('component6')" aria-expanded="false">
            <i class="mdi mdi-library-books"></i>
            <span>Quản lý danh mục</span>
          </a>
          <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'component6'">
            <li>
              <a routerLink="vehiclefines" [routerLinkActive]="['router-link-active']">Cấu hình tiền phạt xe</a>
            </li>
            <li>
              <a routerLink="policy" [routerLinkActive]="['router-link-active']">Cấu hình chính sách</a>
            </li>
            <!-- <li>
              <a routerLink="category" [routerLinkActive]="['router-link-active']">Cấu hình loại danh mục</a>
            </li> -->
            <li>
              <a routerLink="feebanks" [routerLinkActive]="['router-link-active']">Phí chuyển khoản</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
  <!-- Bottom points-->
  <!-- <div class="sidebar-footer">
    <a routerLink="setting" class="link" data-toggle="tooltip" title="Cài đặt">
      <i class="ti-settings"></i>
    </a>
    <a href="" class="link" data-toggle="tooltip" title="Email">
      <i class="mdi mdi-gmail"></i>
    </a>
    <a (click)="logout(del)" class="link" data-toggle="tooltip" title="Đăng xuất">
      <i class="mdi mdi-power"></i>
    </a>
  </div> -->
  <!-- End Bottom points-->
</aside>
<ng-template #del let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title">Đăng xuất</h3>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Bạn có muốn kết thúc phiên làm việc không??</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="d( 'No-delete')">Không</button>
    <button class="btn btn-danger" (click)="c( 'Yes-Delete')">Có</button>
  </div>
</ng-template>