<form [formGroup]="addEditForm" novalidate>
  <ngb-tabset>
    <ngb-tab title="Thông Tin Công ty kinh doanh vận tải">
      <ng-template ngbTabContent>
        <!-- <button class="btn btn-danger" (click)="initData()">Data</button> -->
        <input type="text" hidden id="AccountId">
        <div class="form-group row my-3">
          <label for="fullName" class="col-sm-2 col-form-label text-md-right">Tên công ty<span class="text-danger"></span></label>
          <div class="col-sm-4">
            <input type="text" [ngClass]="{'mouse-hover': noneShow}" class="form-control" [ngClass]="{'mouse-hover': noneShow}"
              id="fullName" placeholder="Tên công ty" formControlName="fullName">
          </div>
          <label for="Director" class="col-sm-2 col-form-label text-md-right">Giám đốc<span class="text-danger"></span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="Director" placeholder="Giám đốc"
              formControlName="director">
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="Taxcode" class="col-sm-2 col-form-label text-md-right">Mã số thuế<span class="text-danger"></span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="Taxcode" placeholder="Mã số thuế"
              formControlName="taxCode">
          </div>
          <label class="col-sm-2 col-form-label text-md-right">Số Fax<span class="text-danger"></span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Fax"
              formControlName="fax">
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="ContactPhone" class="col-sm-2 col-form-label text-md-right">Số điện thoại<span class="text-danger"></span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="ContactPhone" placeholder="Số điện thoại liên hệ"
              formControlName="contactPhone">
          </div>
          <label for="CompanyPhone" class="col-sm-2 col-form-label text-md-right">Số điện thoại</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="CompanyPhone" placeholder="Số điện thoại công ty"
              formControlName="companyPhone">
          </div>
        </div>
        <div class="form-group row mb-3">

          <label for="Website" class="col-sm-2 col-form-label text-md-right">Website</label>
          <div class="col-sm-4">
            <input type="Email" class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="Website" placeholder="Website"
              formControlName="website">
          </div>
          <label for="Email" class="col-sm-2 col-form-label text-md-right">Email<span class="text-danger"></span></label>
          <div class="col-sm-4">
            <input type="Email" class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="Email" placeholder="Email"
              formControlName="email">
          </div>
        </div>
        <hr class="hr-border-color mb-1">
        <div>Người liên hệ</div>
        <div class="form-group row mb-3">
          <label for="ContactPn" class="col-sm-2 col-form-label text-md-right">Họ tên</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="ContactPn" placeholder="Họ tên người liên hệ"
              formControlName="contactPerson">
          </div>
          <label class="col-sm-2 col-form-label text-md-right">Số điện thoại</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="SĐT người liên hệ"
              formControlName="contactPersonPhone">
          </div>
        </div>
        <div class="form-group row mb-3">
          <label class="col-sm-2 col-form-label text-md-right">Email</label>
          <div class="col-sm-4">
            <input type="email" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Email người liên hệ"
              formControlName="contactPersonEmail">
          </div>
        </div>
        <hr class="hr-border-color mb-1">
        <div>Trụ sở công ty</div>
        <div [formGroup]="addEditForm.controls['address']">
          <div class="form-group row mb-3">
            <label class="col-sm-2 col-form-label text-md-right">Quốc gia<span class="text-danger"></span></label>
            <div class="col-sm-4">
              <select class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="addrcountry" (change)="addressCountryChange($event)"
                formControlName="country" tabindex="10">
                <option selected value=null disabled>&#45;&#45; Chọn quốc gia &#45;&#45;</option>
                <option *ngFor="let conntry of lstAddress_Country" value={{conntry.pk}}>{{conntry.tenDinhDanh}}</option>
              </select>
            </div>
            <label class="col-sm-2 col-form-label text-md-right">Tỉnh/Thành phố<span class="text-danger"></span></label>
            <div class="col-sm-4">
              <select class="form-control" [ngClass]="{'mouse-hover': noneShow}" (change)="addressProvinceChange($event)"
                id="addrprovince" formControlName="province" tabindex="11">
                <option selected value=null disabled>&#45;&#45; Chọn tỉnh/thành phố &#45;&#45;</option>
                <option *ngFor="let province of lstAddress_Province" value={{province.pk}}>{{province.tenDinhDanh}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-sm-2 col-form-label text-md-right">Quận/Huyện<span class="text-danger"></span></label>
            <div class="col-sm-4">
              <select class="form-control" [ngClass]="{'mouse-hover': noneShow}" (change)="addressDistrictChange($event)"
                id="addrdistrict" formControlName="district" tabindex="12">
                <option selected value=null disabled>&#45;&#45; Chọn quận/huyện &#45;&#45;</option>
                <option *ngFor="let district of lstAddress_District" value={{district.pk}}>{{district.tenDinhDanh}}</option>
              </select>
            </div>
            <label class="col-sm-2 col-form-label text-md-right">Phường/Xã<span class="text-danger"></span></label>
            <div class="col-sm-4">
              <select class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="addrwards" formControlName="wards"
                tabindex="13">
                <option selected value=null disabled>&#45;&#45; Chọn phường/xã &#45;&#45;</option>
                <option *ngFor="let addrward of lstAddress_Wards" value={{addrward.pk}}>{{addrward.tenDinhDanh}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-sm-2 col-form-label text-md-right">Sổ nhà/đường</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Số nhà/đường"
                formControlName="street">
            </div>
          </div>
        </div>
        <hr class="hr-border-color mb-1">
        <div>Địa chỉ liên hệ</div>
        <div [formGroup]="addEditForm.controls['contactAddress']">
          <div class="form-group row mb-3">
            <label class="col-sm-2 col-form-label text-md-right">Quốc gia<span class="text-danger"></span></label>
            <div class="col-sm-4">
              <select class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="addrcountry" (change)="contactAddressCountryChange($event)"
                formControlName="country" tabindex="10">
                <option selected value=null disabled>&#45;&#45; Chọn quốc gia &#45;&#45;</option>
                <option *ngFor="let conntry of lstContactAddress_Country" value={{conntry.pk}}>{{conntry.tenDinhDanh}}</option>
              </select>
            </div>
            <label class="col-sm-2 col-form-label text-md-right">Tỉnh/Thành phố<span class="text-danger"></span></label>
            <div class="col-sm-4">
              <select class="form-control" [ngClass]="{'mouse-hover': noneShow}" (change)="contactAddressProvinceChange($event)"
                id="addrprovince" formControlName="province" tabindex="11">
                <option selected value=null disabled>&#45;&#45; Chọn tỉnh/thành phố &#45;&#45;</option>
                <option *ngFor="let province of lstContactAddress_Province" value={{province.pk}}>{{province.tenDinhDanh}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-sm-2 col-form-label text-md-right">Quận/Huyện<span class="text-danger"></span></label>
            <div class="col-sm-4">
              <select class="form-control" [ngClass]="{'mouse-hover': noneShow}" (change)="contactAddressDistrictChange($event)"
                id="addrdistrict" formControlName="district" tabindex="12">
                <option selected value=null disabled>&#45;&#45; Chọn quận/huyện &#45;&#45;</option>
                <option *ngFor="let district of lstContactAddress_District" value={{district.pk}}>{{district.tenDinhDanh}}</option>
              </select>
            </div>
            <label class="col-sm-2 col-form-label text-md-right">Phường/Xã<span class="text-danger"></span></label>
            <div class="col-sm-4">
              <select class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="addrwards" formControlName="wards"
                tabindex="13">
                <option selected value=null disabled>&#45;&#45; Chọn phường/xã &#45;&#45;</option>
                <option *ngFor="let addrward of lstContactAddress_Wards" value={{addrward.pk}}>{{addrward.tenDinhDanh}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-sm-2 col-form-label text-md-right">Sổ nhà/đường</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Số nhà/đường"
                formControlName="street">
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Giấy cấp phép liên quan">
      <ng-template ngbTabContent>

        <div>Giấy đăng ký kinh doanh</div>
        <div class="form-group row my-3">
          <label class="col-sm-2 col-form-label text-md-right">Số đăng ký<span class="text-danger"></span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Số giấy đăng ký kinh doanh"
              formControlName="businessLicense">
          </div>
        </div>
        <div class="row mb-1">
          <label class="col-sm-2 col-form-label text-md-right">Ngày cấp<span class="text-danger"></span></label>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control  mouse-hover" placeholder="--Chọn ngày--"  (keypress)="false"
                  ngbDatepicker #blid="ngbDatepicker" formControlName="businessLicenseIssueDate">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="blid.toggle()" type="button">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <label class="col-sm-2 col-form-label text-md-right">Nơi cấp<span class="text-danger"></span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Nơi cấp"
              formControlName="businessLicenseIssueBy">
          </div>
        </div>
        <hr class="hr-border-color mb-1">
        <div>Giấy phép kinh doanh vận tải</div>
        <div class="form-group row mb-3">
          <label for="TranLic" class="col-sm-2 col-form-label text-md-right">Số giấy phép<span class="text-danger"></span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="TranLic" placeholder="Số giấy phép kinh doanh vận tải"
              formControlName="businessTransportLicense">
          </div>
        </div>
        <div class="row mb-1">
          <label for="TranLicIssDate" class="col-sm-2 col-form-label text-md-right">Ngày cấp<span class="text-danger"></span></label>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control  mouse-hover" placeholder="--Chọn ngày--"  (keypress)="false"
                  ngbDatepicker #btlid="ngbDatepicker" formControlName="businessTransportLicenseIssueDate">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="btlid.toggle()" type="button">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <label for="TranLicExpDate" class="col-sm-2 col-form-label text-md-right">Ngày hết hạn<span class="text-danger"></span></label>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control  mouse-hover" placeholder="--Chọn ngày--"  (keypress)="false"
                  ngbDatepicker #btled="ngbDatepicker" formControlName="businessTransportLicenseExpDate">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="btled.toggle()" type="button">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="hr-border-color mb-1">
        <div>Giấy phép điều hành vận tải</div>
        <div class="form-group row mb-3">

          <label for="Mod" class="col-sm-2 col-form-label text-md-right">Họ và tên<span class="text-danger"></span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="Mod" placeholder="Người điều hành vận tải"
              formControlName="moderator">
          </div>
          <label for="ModLic" class="col-sm-2 col-form-label text-md-right">Số giấy phép<span class="text-danger"></span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="ModLic" placeholder="Số giây phép điều hành vận tải"
              formControlName="moderatorLicense">
          </div>
        </div>
        <div class="row mb-1">
          <label for="ModLicIssDate" class="col-sm-2 col-form-label text-md-right">Ngày cấp<span class="text-danger"></span></label>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control  mouse-hover" placeholder="--Chọn ngày--"  (keypress)="false"
                  ngbDatepicker #mlid="ngbDatepicker" formControlName="moderatorLicenseIssueDate">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="mlid.toggle()" type="button">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <label for="ModLicExpDate" class="col-sm-2 col-form-label text-md-right">Ngày hết hạn<span class="text-danger"></span></label>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control  mouse-hover" placeholder="--Chọn ngày--"  (keypress)="false"
                  ngbDatepicker #mled="ngbDatepicker" formControlName="moderatorLicenseExpDate">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="mled.toggle()" type="button">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Tài khoản ngân hàng">
      <ng-template ngbTabContent>
        <div class="" formArrayName="bankAccountLst" *ngFor="let bank of addEditForm.controls['bankAccountLst']['controls']; index as i">
          <div [formGroupName]="i">
            <div class="row my-3 border-top" *ngIf="i>0">
              <div class="col text-right mt-1">
                <button class="btn btn-danger" (click)="onRemoveBankGroup($event,i)">
                  <span class="fa fa-trash-o"></span>
                </button>
              </div>
            </div>
            <div class="form-group row my-3">
              <label class="col-sm-2 col-form-label text-md-right">Ngân hàng</label>
              <div class="col-sm-4">
                <select class="form-control" formControlName="bankCode" name="bankCode" [ngClass]="{'mouse-hover': noneShow}"
                  [attr.disabled]="noneShow ? 'disabled' : null">
                  <option selected value=null disabled>&#45;&#45; Chọn Ngân hàng &#45;&#45;</option>
                  <option *ngFor="let item of lstBank" [value]="item.bankCode">{{item.bankName}}</option>
                </select>
                <input type="hidden" formControlName="bankCode" name="bankCode" />
              </div>
              <label class="col-sm-2 col-form-label text-md-right">Số tài khoản</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Số tài khoản"
                  formControlName="accountNumber" name="accountNumber" [attr.disabled]="noneShow ? 'disabled' : null">
              </div>
            </div>
            <div class="form-group row mb-3">
              <label class="col-sm-2 col-form-label text-md-right">Người thụ hưởng</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Người thụ hưởng"
                  formControlName="ownerName" [attr.disabled]="noneShow ? 'disabled' : null">
              </div>
              <label class="col-sm-2 col-form-label text-md-right">Chi nhánh</label>
              <div class="col-sm-4">
                <select class="custom-select" [attr.disabled]="noneShow ? 'disabled' : null" [ngClass]="{'mouse-hover': noneShow}">
                  <option selected>&#45;&#45; Chọn chi nhánh &#45;&#45;</option>
                  <option value="1">Vietcombank</option>
                  <option value="2">MBBank</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button *ngIf="!noneShow" type="button" class="btn btn-dark" tabindex="20" (click)="onAddBankGroup($event)">Thêm
            tài khoản
          </button>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Hồ sơ đính kèm">
      <ng-template ngbTabContent>
        <!-- View Img -->
        <!-- <div class="mt-2" [ngClass]="{'d-none': !noneShow}"> -->
        <div class="mt-2" *ngIf="!isAdd">
          <div class="container imgView">
            <div class="row">
              <p class="col-sm-12"> +Đăng ký kinh doanh:</p>
              <ng-container *ngFor="let el of oldAttachPro?.DKKD">
                <div class="col-sm-4" (click)="openImg(imgView,getUrlImg('DKKD'),el)">
                  <img [src]="getUrlImg('DKKD') +el" alt="" />
                  <br>
                  <div class="text-center img-name">{{el}}</div>
                </div>
              </ng-container>
            </div>
            <hr>
            <div class="row">
              <p class="col-sm-12"> + Mẫu dấu công ty:</p>
              <ng-container *ngFor="let el of oldAttachPro?.DAUCT">
                <div class="col-sm-4" (click)="openImg(imgView,getUrlImg('DAUCT'),el)">
                  <img [src]="getUrlImg('DAUCT') +el" alt="" />
                  <br>
                  <div class="text-center img-name">{{el}}</div>
                </div>
              </ng-container>
            </div>
            <hr>
            <div class="row">
              <p class="col-sm-12"> + Giấy phép kinh doanh vận tải (chụp 2 mặt giấy phép):</p>
              <ng-container *ngFor="let el of oldAttachPro?.GPKDVT">
                <div class="col-sm-4" (click)="openImg(imgView,getUrlImg('GPKDVT'),el)">
                  <img [src]="getUrlImg('GPKDVT') +el" alt="" />
                  <br>
                  <div class="text-center img-name">{{el}}</div>
                </div>
              </ng-container>
            </div>
            <hr>
            <div class="row">
              <p class="col-sm-12"> + Giấy phép điều hành vận tải (chụp 2 mặt giấy phép):</p>
              <ng-container *ngFor="let el of oldAttachPro?.GPDHVT">
                <div class="col-sm-4" (click)="openImg(imgView,getUrlImg('GPDHVT'),el)">
                  <img [src]="getUrlImg('GPDHVT') +el" alt="" />
                  <br>
                  <div class="text-center img-name">{{el}}</div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <!-- Select on create -->
        <div class="mt-2" *ngIf="isAdd">
          <div class="form-group row my-3">
            <label class="col-sm-6">Đăng ký kinh doanh:</label>
            <div class="col-sm-6">
              <div class="row">
                <input type="file" accept="image/*" multiple class="custom-file-input form-control" (change)="selectFile('DKKD')"
                  ng2FileSelect [uploader]="uploaderDKKD" tabindex="28" />
                <label class="custom-file-label lbl-input" for=""><i class="fa fa-file-image-o" aria-hidden="true"></i></label>
              </div>
              <div class="row uploadList" *ngFor="let item of uploaderDKKD.queue">
                <div class="col-sm-6">{{item.file.name}}</div>
                <div class="col-sm-4">
                  <div class="progress">
                    <div class="progress-bar bg-success" [ngStyle]="{'width': item.progress+'%'}"></div>
                  </div>
                </div>
                <div class="col-sm-1">
                  <button type="button" class="btn btn-danger" (click)="item.remove();groupImg();"><i class="fa fa-times"
                      aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row my-3">
            <label class="col-sm-6">Mẫu dấu công ty:</label>
            <div class="col-sm-6">
              <div class="row">
                <input type="file" accept="image/*" multiple class="custom-file-input form-control" (change)="selectFile('DAUCT')"
                  ng2FileSelect [uploader]="uploaderDAUCT" tabindex="28" />
                <label class="custom-file-label lbl-input" for=""><i class="fa fa-file-image-o" aria-hidden="true"></i></label>
              </div>
              <div class="row uploadList" *ngFor="let item of uploaderDAUCT.queue">
                <div class="col-sm-6">{{item.file.name}}</div>
                <div class="col-sm-4">
                  <div class="progress">
                    <div class="progress-bar bg-success" [ngStyle]="{'width': item.progress+'%'}"></div>
                  </div>
                </div>
                <div class="col-sm-1">
                  <button type="button" class="btn btn-danger" (click)="item.remove();groupImg();"><i class="fa fa-times"
                      aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row my-3">
            <label class="col-sm-6">Giấy phép kinh doanh vận tải:</label>
            <div class="col-sm-6">
              <div class="row">
                <input type="file" accept="image/*" multiple class="custom-file-input form-control" (change)="selectFile('GPKDVT')"
                  ng2FileSelect [uploader]="uploaderGPKDVT" tabindex="28" />
                <label class="custom-file-label lbl-input" for=""><i class="fa fa-file-image-o" aria-hidden="true"></i></label>
              </div>
              <div class="row uploadList" *ngFor="let item of uploaderGPKDVT.queue">
                <div class="col-sm-6">{{item.file.name}}</div>
                <div class="col-sm-4">
                  <div class="progress">
                    <div class="progress-bar bg-success" [ngStyle]="{'width': item.progress+'%'}"></div>
                  </div>
                </div>
                <div class="col-sm-1">
                  <button type="button" class="btn btn-danger" (click)="item.remove();groupImg();"><i class="fa fa-times"
                      aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row my-3">
            <label class="col-sm-6">Giấy phép điều hành vận tải:</label>
            <div class="col-sm-6">
              <div class="row">
                <input type="file" accept="image/*" multiple class="custom-file-input form-control" (change)="selectFile('GPDHVT')"
                  ng2FileSelect [uploader]="uploaderGPDHVT" tabindex="28" />
                <label class="custom-file-label lbl-input" for=""><i class="fa fa-file-image-o" aria-hidden="true"></i></label>
              </div>
              <div class="row uploadList" *ngFor="let item of uploaderGPDHVT.queue">
                <div class="col-sm-6">{{item.file.name}}</div>
                <div class="col-sm-4">
                  <div class="progress">
                    <div class="progress-bar bg-success" [ngStyle]="{'width': item.progress+'%'}"></div>
                  </div>
                </div>
                <div class="col-sm-1">
                  <button type="button" class="btn btn-danger" (click)="item.remove();groupImg();"><i class="fa fa-times"
                      aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <div class="modal-footer">
    <div *ngIf="!noneShow">
      <button type="button" class="btn btn-success" (click)="onSave($event)" tabindex="22">Save</button>
    </div>
  </div>
</form>

<ng-template #imgView let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="text-center">{{imgName}}</div>

    <button type="button" class="close" aria-label="Close" (click)="d( 'Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img class="imgFull" [src]="ulrImgFull" alt="" />
    <br>
    <br>
  </div>
</ng-template>
