<form [formGroup]="addEditForm" novalidate>
  <ngb-tabset>
    <ngb-tab title="Thông Tin Công ty kinh doanh vận tải">
      <ng-template ngbTabContent>
        <input type="text" hidden id="AccountId">
        <div class="form-group row my-3">
          <label for="fullName" class="col-sm-2 col-form-label text-md-right">Tên công ty<span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <input type="text" [ngClass]="{'mouse-hover': noneShow}" class="form-control" [ngClass]="{'mouse-hover': noneShow}"
              id="fullName" placeholder="Tên công ty" formControlName="fullName">
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="Director" class="col-sm-2 col-form-label text-md-right">Giám đốc<span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="Director" placeholder="Giám đốc"
              formControlName="director">
          </div>
          <label for="Taxcode" class="col-sm-2 col-form-label text-md-right">Mã số thuế<span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="Taxcode" placeholder="Mã số thuế"
              formControlName="taxCode">
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="ContactPhone" class="col-sm-2 col-form-label text-md-right">Số điện thoại<span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="ContactPhone" placeholder="Số điện thoại liên hệ"
              formControlName="contactPhone">
          </div>
          <label for="CompanyPhone" class="col-sm-2 col-form-label text-md-right">Số điện thoại</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="CompanyPhone" placeholder="Số điện thoại công ty"
              formControlName="companyPhone">
          </div>
        </div>
        <div class="form-group row mb-3">
          <label class="col-sm-2 col-form-label text-md-right">Số Fax<span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Fax"
              formControlName="fax">
          </div>
          <label class="col-sm-2 col-form-label text-md-right">Số Fax</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Fax">
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="Email" class="col-sm-2 col-form-label text-md-right">Email<span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <input type="Email" class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="Email" placeholder="Email"
              formControlName="email">
          </div>
          <label for="Website" class="col-sm-2 col-form-label text-md-right">Website</label>
          <div class="col-sm-4">
            <input type="Email" class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="Website" placeholder="Website"
              formControlName="website">
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="ContactPn" class="col-sm-2 col-form-label text-md-right">Người liên hệ</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="ContactPn" placeholder="Họ tên người liên hệ"
              formControlName="contactPerson">
          </div>
          <label class="col-sm-2 col-form-label text-md-right">Số điện thoại</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="SĐT người liên hệ"
              formControlName="contactPersonPhone">
          </div>
        </div>
        <div class="form-group row mb-3">
          <label class="col-sm-2 col-form-label text-md-right">Email</label>
          <div class="col-sm-4">
            <input type="email" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Email người liên hệ"
              formControlName="contactPersonEmail">
          </div>
        </div>
        <hr class="hr-border-color mb-1">
        <div>Trụ sở công ty</div>
        <div [formGroup]="addEditForm.controls['address']">
          <div class="form-group row mb-3">
            <label class="col-sm-2 col-form-label text-md-right">Quốc gia<span class="text-danger">*</span></label>
            <div class="col-sm-4">
              <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="nationailt" placeholder="Quốc gia"
                formControlName="country">
            </div>
            <label class="col-sm-2 col-form-label text-md-right">Tỉnh/Thành phố<span class="text-danger">*</span></label>
            <div class="col-sm-4">
              <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Tỉnh/Thành phố"
                formControlName="province">
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-sm-2 col-form-label text-md-right">Quận/Huyện<span class="text-danger">*</span></label>
            <div class="col-sm-4">
              <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Quận/Huyện"
                formControlName="district">
            </div>
            <label class="col-sm-2 col-form-label text-md-right">Phường/Xã<span class="text-danger">*</span></label>
            <div class="col-sm-4">
              <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Phường/Xã"
                formControlName="wards">
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-sm-2 col-form-label text-md-right">Sổ nhà/đường</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Số nhà/đường"
                formControlName="street">
            </div>
          </div>
        </div>
        <hr class="hr-border-color mb-1">
        <div>Địa chỉ liên hệ</div>
        <div [formGroup]="addEditForm.controls['contactAddress']">
          <div class="form-group row mb-3">
            <label class="col-sm-2 col-form-label text-md-right">Quốc gia<span class="text-danger">*</span></label>
            <div class="col-sm-4">
              <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Quốc gia"
                formControlName="country">
            </div>
            <label class="col-sm-2 col-form-label text-md-right">Tỉnh/Thành phố<span class="text-danger">*</span></label>
            <div class="col-sm-4">
              <input type="email" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Tỉnh/Thành phố"
                formControlName="province">
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-sm-2 col-form-label text-md-right">Quận/Huyện<span class="text-danger">*</span></label>
            <div class="col-sm-4">
              <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Quận/Huyện"
                formControlName="district">
            </div>
            <label class="col-sm-2 col-form-label text-md-right">Phường/Xã<span class="text-danger">*</span></label>
            <div class="col-sm-4">
              <input type="email" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Phường/Xã"
                formControlName="wards">
            </div>
          </div>
          <div class="form-group row mb-3">
            <label class="col-sm-2 col-form-label text-md-right">Sổ nhà/đường</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Số nhà/đường"
                formControlName="street">
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Giấy cấp phép liên quan">
      <ng-template ngbTabContent>
        <div class="form-group row my-3">
          <label class="col-sm-2 col-form-label text-md-right">Giấy đăng ký<span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Số giấy đăng ký kinh doanh"
              formControlName="businessLicense">
          </div>
        </div>
        <div class="form-group row mb-3">
          <label class="col-sm-2 col-form-label text-md-right">Ngày cấp<span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="dd/mm/yyyy" [ngClass]="{'mouse-hover': noneShow}" name="dp"
                  ngbDatepicker #blid="ngbDatepicker" formControlName="businessLicenseIssueDate">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="blid.toggle()" type="button">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <label class="col-sm-2 col-form-label text-md-right">Nơi cấp<span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Nơi cấp"
              formControlName="businessLicenseIssueBy">
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="TranLic" class="col-sm-2 col-form-label text-md-right">Giấy phép<span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="TranLic" placeholder="Số giấy phép kinh doanh vận tải"
              formControlName="businessTransportLicense">
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="TranLicIssDate" class="col-sm-2 col-form-label text-md-right">Ngày cấp<span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="dd/mm/yyyy" [ngClass]="{'mouse-hover': noneShow}" name="dp"
                  ngbDatepicker #btlid="ngbDatepicker" formControlName="businessTransportLicenseIssueDate">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="btlid.toggle()" type="button">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <label for="TranLicExpDate" class="col-sm-2 col-form-label text-md-right">Ngày hết hạn<span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="dd/mm/yyyy" [ngClass]="{'mouse-hover': noneShow}" name="dp"
                  ngbDatepicker #btled="ngbDatepicker" formControlName="businessTransportLicenseExpDate">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="btled.toggle()" type="button">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="Mod" class="col-sm-2 col-form-label text-md-right">Họ và tên<span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="Mod" placeholder="Người điều hành vận tải"
              formControlName="moderator">
          </div>
          <label for="ModLic" class="col-sm-2 col-form-label text-md-right">Số giấy phép<span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" id="ModLic" placeholder="Số giây phép điều hành vận tải"
              formControlName="moderatorLicense">
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="ModLicIssDate" class="col-sm-2 col-form-label text-md-right">Ngày cấp<span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="dd/mm/yyyy" [ngClass]="{'mouse-hover': noneShow}" name="dp"
                  ngbDatepicker #mlid="ngbDatepicker" formControlName="moderatorLicenseIssueDate">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="mlid.toggle()" type="button">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <label for="ModLicExpDate" class="col-sm-2 col-form-label text-md-right">Ngày hết hạn<span class="text-danger">*</span></label>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="dd/mm/yyyy" [ngClass]="{'mouse-hover': noneShow}" name="dp"
                  ngbDatepicker #mled="ngbDatepicker" formControlName="moderatorLicenseExpDate">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="mled.toggle()" type="button">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Tài khoản ngân hàng">
      <ng-template ngbTabContent>
        <div class="" formArrayName="bankAccountLst" *ngFor="let bank of addEditForm.controls['bankAccountLst']['controls']; index as i">
          <div [formGroupName]="i">
            <div class="row my-3 border-top" *ngIf="i>0">
              <div class="col text-right mt-1">
                <button class="btn btn-danger" (click)="onRemoveBankGroup($event,i)">
                  <span class="fa fa-trash-o"></span>
                </button>
              </div>
            </div>
            <div class="form-group row my-3">
              <label class="col-sm-2 col-form-label text-md-right">Ngân hàng</label>
              <div class="col-sm-4">
                <select class="custom-select" formControlName="branch" name="Branch" [attr.disabled]="noneShow ? 'disabled' : null">
                  <option [value]="null">&#45;&#45; Chọn ngân hàng &#45;&#45;</option>
                  <option [ngValue]="bank.branch">{{bank.branch}}</option>
                </select>
                <input type="hidden" formControlName="branch" name="Branch" />
              </div>
              <label class="col-sm-2 col-form-label text-md-right">Số tài khoản</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Số tài khoản"
                  formControlName="accountNumber" name="accountNumber" [attr.disabled]="noneShow ? 'disabled' : null">
              </div>
            </div>
            <div class="form-group row mb-3">
              <label class="col-sm-2 col-form-label text-md-right">Người thụ hưởng</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" [ngClass]="{'mouse-hover': noneShow}" placeholder="Người thụ hưởng"
                  formControlName="ownerName" [attr.disabled]="noneShow ? 'disabled' : null">
              </div>
              <label class="col-sm-2 col-form-label text-md-right">Chi nhánh</label>
              <div class="col-sm-4">
                <select class="custom-select" [attr.disabled]="noneShow ? 'disabled' : null">
                  <option selected>&#45;&#45; Chọn chi nhánh &#45;&#45;</option>
                  <option value="1">Vietcombank</option>
                  <option value="2">MBBank</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-dark" tabindex="20" (click)="onAddBankGroup($event)">Thêm tài khoản
          </button>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Hồ sơ đính kèm">
      <ng-template ngbTabContent>
        <div class="form-group my-3">
          <label class="col-sm-6">Đăng ký kinh doanh</label>
          <div class="custom-file col-sm-6">
            <input type="file" class="custom-file-input" id="inputGroupFile01">
            <label class="custom-file-label mb-0" aria-describedby="inputGroupFileAddon02">Choose file</label>
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="col-sm-6">Mẫu dấu công ty</label>
          <div class="custom-file col-sm-6">
            <input type="file" class="custom-file-input" id="inputGroupFile02">
            <label class="custom-file-label mb-0" aria-describedby="inputGroupFileAddon02">Choose file</label>
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="col-sm-6">Giấy phép kinh doanh vận tải (chụp 2 mặt giấy phép)</label>
          <div class="custom-file col-sm-6">
            <input type="file" class="custom-file-input" id="inputGroupFile03">
            <label class="custom-file-label" aria-describedby="inputGroupFileAddon02">Choose file</label>
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="col-sm-6">Giấy phép điều hành vận tải (chụp 2 mặt giấy phép)</label>
          <div class="custom-file col-sm-6">
            <input type="file" class="custom-file-input" id="inputGroupFile04">
            <label class="custom-file-label" aria-describedby="inputGroupFileAddon02">Choose file</label>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <div class="modal-footer">
    <div *ngIf="!noneShow">
      <button type="button" class="btn btn-success" (click)="onSave($event)" tabindex="22">Save</button>
    </div>
  </div>
</form>