<form [formGroup]="addEditForm" novalidate>
  <ngb-tabset>
    <ngb-tab title="Thông tin nhân viên Kế toán">
      <ng-template ngbTabContent>
        <input type="text" id="accountid" hidden formControlName="accountId">
        <div class="form-group row my-3">
          <label for="fullname" class="col-sm-2 col-form-label text-md-right">Tên đăng nhập</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="username" name="userName" placeholder="Tên đăng nhập"
              formControlName="userName" tabindex="1" />
          </div>
          <label for="fullname" class="col-sm-2 col-form-label text-md-right">Mật khẩu</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="password" name="password" placeholder="Mật khẩu"
              formControlName="password" tabindex="5" />
          </div>
          
        </div>
        <div class="form-group row my-3">
            <label for="nationality" class="col-sm-2 col-form-label text-md-right">Họ và tên </label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Họ tên" formControlName="fullName"
                tabindex="2" />
            </div>
          <label for="dateOfBirth" class="col-sm-2 col-form-label text-md-right">Ngày sinh</label>
          <div class="col-sm-4">
            <input type="date" class="form-control" [value]="addEditForm.get('dateOfBirth').value  | date:'yyyy-MM-dd'"
              name="dateOfBirth" formControlName="dateOfBirth">
          </div>
        </div>
        <div class="form-group row my-3">
          <label for="gender" class="col-sm-2 col-form-label text-md-right">Giới tính </label>
          <div class="col-sm-4">
            <select class="form-control" id="gender" name="gender" formControlName="gender" tabindex="7">
              <option selected>&#45;&#45; Chọn giới tính &#45;&#45; </option>
              <option value="1">Nam</option>
              <option value="0">Nữ</option>
            </select>
          </div>
          <label for="gender" class="col-sm-2 col-form-label text-md-right">Loại tài khoản</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="acctType" formControlName="acctType">
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="(Save($event))">Save</button>
  </div>
</form>