<div class="row">
  <div class="col-sm-4 my-auto">
    <input type="text" class="form-control text-input" placeholder="Nhập Mã báo giá" (keyup)="searchByPressEnter($event)">
  </div>
  <div class="col-sm-1 pl-sm-0">
    <button class="btn btn-success w-100" (click)="search(searchObject);" placement="bottom" ngbTooltip="Tìm kiếm"><i
        class="fa fa-search" aria-hidden="true"></i></button>
  </div>
</div>
<div class="row mt-2" [ngClass]="'d-block'">
  <div class="col">
    <div class="owner-view-title">Đơn hàng bảo hiểm hàng hóa</div>
    <ngx-datatable class='material selection-cell datatable table-shadow' [rows]='listInsuranceOrder' [columnMode]='"force"'
      [headerHeight]='50' [footerHeight]='50' [rowHeight]='"auto"' [sorts]="[{prop: 'sumInsuPrice', dir: 'desc'}]"
      [limit]="50">
      <ngx-datatable-column name="id" [minWidth]="70" [maxWidth]="70" [resizeable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>STT</strong>
          </span>
        </ng-template>
        <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
          <span data-toggle="tooltip" title="{{rowIndex + 1}}">
            {{rowIndex + 1}}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="orderId" [width]="160" prop="orderId">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Mã đơn hàng</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span>{{value}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="contractNo" [width]="115" prop="contractNo">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Số hợp đồng</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row ">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="insuranSpend" [width]="140" prop="insuranSpend">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Chi phí bảo hiểm</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row ">
          <span>{{value|currency:'':'':'0.0'}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="insuranPrice" [width]="200" prop="insuranPrice">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Giá trị bảo hiểm hàng hóa </strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row ">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="110" name="sumInsuPrice" prop="sumInsuPrice">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Tổng tiền</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row ">
          <span>{{value|currency:'':'':'0.0'}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [width]="170" prop="state">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span class="tbl-header">
            <strong>Trạng thái</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row ">
          <span>{{value === 1 ? 'Đơn hàng được đăng ký mua bảo hiểm' : value === 2 ? 'đã gửi push yêu cầu chủ hàng xác
            nhận mua bảo hiểm' : value === 3 ? 'Chủ hàng đã xác nhận mua bảo hiểm' : ''}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [minWidth]="85" [maxWidth]="85">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>
            <strong>Thao tác</strong>
          </span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row ">
          <!-- <button type="button" class="btn btn-info button-custom-admin" (click)="view(row.accountId,content)">
            <i class="fa fa-eye"></i>
          </button> -->
          <button *ngIf="row.state === 2 || row.state === 3" class="btn btn-secondary button-custom-admin ml-2"
            placement="bottom" ngbTooltip="Đã đăng ký">
            <i class="fa fa-edit"></i>
          </button>
          <button *ngIf="row.state != 2 && row.state != 3" class="btn btn-warning button-custom-admin ml-2" (click)="edit(row,content)"
            placement="bottom" ngbTooltip="Đăng ký mua">
            <i class="fa fa-edit"></i>
          </button>
          <!-- <button type="button" class="btn btn-danger button-custom-admin ml-2" (click)="openSm(del)">
            <i class="fa  fa-trash"></i>
          </button> -->
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div>
</div>
<div #snackbar [class]="isShow ? 'snackbar show' : 'snackbar'">{{txtNoti}}</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Đơn hàng bảo hiểm hàng hóa</h3>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-insuran-info [insuOrderViewModel]="_entity" (closeModalEvent)="c('close from Save')"
      (insuOrderViewModelChange)="onEditInsuOrder($event)"></app-insuran-info>
  </div>
</ng-template>
