.fa {
  font-size: 32px;
  cursor: pointer;
  padding-top: 5px;
}

.col-sm-3 {
  padding: 0px;
  margin: 0px;
}

.image {
  width: 100%;
  height: auto;
  background-color: #e8cfcfb8;
}

.image img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.changeAvatar {
  position: absolute;
  left: 35%;
  bottom: 5px;
  background-color: #060a068c;
}

.fa-pencil {
  margin-left: 20px;
}
