<div class="form-group row my-3">

  <div class="col-sm-3 image">
    <img [src]="getUrlImg('AVATA')" alt="">
    <button class="btn btn-info text-center changeAvatar" (click)="open(changeAvatar)">Đổi avatar</button>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-8">
    <div class="form-group row my-3">
      <label for="fullName" class="col-sm-2 col-form-label text-md-right">Họ và tên</label>
      <div class="col-sm-5">
        <label for="fullName" class="col-form-label text-md-right" *ngIf="!isShowName">{{currentUser[0].fullName}}</label>
        <!-- <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Họ tên" readonly tabindex="1"
              *ngIf="!isShow" /> -->
        <input type="text" class="form-control" id="fullName" name="fullName" [(ngModel)]="fullName" placeholder="Họ tên"
          tabindex="1" *ngIf="isShowName" />
      </div>
      <div class="col-sm-5">
        <i class="fa fa-edit" *ngIf="!isShowName" (click)="changeShowName()"></i>
        <i class="fa fa-save" *ngIf="isShowName" (click)="isChangeFullName = true;open(content);"></i>
        <i class="fa fa-pencil" *ngIf="isShowName" (click)="changeShowName()"></i>
      </div>
    </div>
    <div class="form-group row my-3">
      <label for="phoneNumber" class="col-sm-2 col-form-label text-md-right">Số điện thoại</label>
      <div class="col-sm-5">
        <label for="phoneNumber" class="col-form-label text-md-right" *ngIf="!isShowSDT">{{currentUser[0].phoneNumber}}</label>
        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="phoneNumber"
          placeholder="Số điện thoại" tabindex="4" *ngIf="isShowSDT" />
      </div>
      <div class="col-sm-5">
        <i class="fa fa-edit" *ngIf="!isShowSDT" (click)="changeShowSDT()"></i>
        <i class="fa fa-save" *ngIf="isShowSDT" (click)="isChangeFullName = false;open(content)"></i>
        <i class="fa fa-pencil" *ngIf="isShowSDT" (click)="changeShowSDT()"></i>
      </div>
    </div>
    <div class="form-group row my-3">
      <label for="email" class="col-sm-2 col-form-label text-md-right">Email</label>
      <div class="col-sm-5">
        <label for="email" class="col-form-label text-md-right">{{currentUser[0].email}}</label>
      </div>
      <div class="col-sm-5"></div>
    </div>

    <div class="form-group row my-3">
      <label for="accountType" class="col-sm-2 col-form-label text-md-right">Loại tài khoản</label>
      <div class="col-sm-5">
        <label for="accountType" class="col-form-label text-md-right">{{currentUser[0].accountType==0?'ADMIN':(currentUser[0].accountType==5?'Bộ phận kinh doanh':(currentUser[0].accountType==6?'Bộ phận hỗ trợ':(currentUser[0].accountType==7?'Bộ phận kế toán':(currentUser[0].accountType==8?'Bộ phận kỹ thuật':(currentUser[0].accountType==9?'Bộ phận quản lý':'Chưa được phân quyền')))))}}</label>
      </div>
      <div class="col-sm-5"></div>
    </div>


  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss ">
  <div class="modal-header ">
    <h3 class="modal-title ">Xác nhận mật khẩu</h3>
    <button type="button " class="close " aria-label="Close " (click)="d( 'Close') ">
      <span aria-hidden="true ">&times;</span>
    </button>
  </div>
  <div class="modal-body ">
    <input type="password" class="form-control" [(ngModel)]="password">
  </div>
  <div class="modal-footer ">
    <button class="btn btn-primary" (click)="checkPassword()" (click)="d( 'Close') ">Xác nhận</button>
  </div>
</ng-template>

<ng-template #changeAvatar let-c="close" let-d="dismiss ">
  <div class="modal-header ">
    <h3 class="modal-title ">Xác nhận mật khẩu</h3>
    <button type="button " class="close " aria-label="Close " (click)="d( 'Close') ">
      <span aria-hidden="true ">&times;</span>
    </button>
  </div>
  <div class="modal-body ">
    <input type="password" class="form-control" [(ngModel)]="password">
  </div>
  <div class="modal-footer ">
    <button class="btn btn-primary" (click)="checkPassword1()" (click)="d( 'Close')">Xác nhận</button>
  </div>
</ng-template>

<ng-template #change let-c="close " let-d="dismiss">
  <div class="modal-header ">
    <h3 class="modal-title " id="modal-basic-title ">Đổi ảnh đại diện</h3>
    <button class="close " aria-label="Close " (click)="d( 'Cross click') ">
      <span aria-hidden="true ">&times;</span>
    </button>
  </div>
  <div class="modal-body ">
    <app-change-avatar [password]="password" (closeForm)="c('')"></app-change-avatar>
  </div>
</ng-template>